<?xml version="1.0"?>

<config>
    <modules>
        <ICICI_citrus>
            <version>0.1.0</version>
        </ICICI_citrus>
    </modules>
    <global>
        <models>
            <citrus>
                <class>ICICI_citrus_Model</class>
                <resourceModel>citrus_mysql4</resourceModel>
            </citrus>
            <citrus_mysql4>
                <class>ICICI_citrus_Model_Mysql4</class>
                <entities>
                    <api_debug><table>citrus_api_debug</table></api_debug>
                </entities>
            </citrus_mysql4>
        </models>
		<helpers>
            <citrus>
                <class>ICICI_Citrus_Helper</class>
            </citrus>
        </helpers>
        <resources>
            <citrus_setup>
                <setup>
                    <module>ICICI_citrus</module>
                    <class>ICICI_citrus_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </citrus_setup>
            <citrus_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </citrus_write>
            <citrus_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </citrus_read>
        </resources>
        <blocks>
            <citrus><class>ICICI_citrus_Block</class></citrus>
        </blocks>
    </global>
    <frontend>
        <secure_url>
            <citrus_standard>/citrus/standard</citrus_standard>
        </secure_url>
        <routers>
            <citrus>
                <use>standard</use>
                <args>
                    <module>ICICI_citrus</module>
                    <frontName>Citrus</frontName>
                </args>
            </citrus>
        </routers>
        <layout>
            <updates>
                <citrus>
                    <file>citrus.xml</file>
                </citrus>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <citrus_standard>
                  <model>citrus/standard</model>
                  <title>citrus Standard</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
            </citrus_standard>
        </payment>
    </default>
</config>