<?xml version="1.0"?>
<!-- 
/**
 * @category   Brandammo
 * @package    Brandammo_Progallery
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Brandammo_Progallery>
            <version>0.1.0</version>
        </Brandammo_Progallery>
    </modules>
    <frontend>
        <routers>
            <progallery>
                <use>standard</use>
                <args>
                    <module>Brandammo_Progallery</module>
                    <frontName>progallery</frontName>
                </args>
            </progallery>
        </routers>
        <layout>
            <updates>
                <progallery>
                    <file>progallery.xml</file>
                </progallery>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<progallery>
				<use>admin</use>
				<args>
					<module>Brandammo_Progallery</module>
					<frontName>progallery</frontName>
				</args>
			</progallery>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Brandammo_Progallery>
							<title>Progallery Module</title>
							<sort_order>10</sort_order>
						</Brandammo_Progallery>
						<system>
							<children>
								<config>
									<children>
										<progallery>
											<title>Product Gallery</title>
											<sort_order>60</sort_order>
										</progallery>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<progallery>
					<file>progallery.xml</file>
				</progallery>
			</updates>
		</layout>
    </adminhtml>
    <default>
		<progallery>
			<progalleryconfig>
				<product_image_border>1px solid #DDDDDD</product_image_border>
				<default_image_width>900</default_image_width>
				<thumbs_width>90</thumbs_width>
				<thumbs_height>115</thumbs_height>
				<thumbs_border>1px solid #DDDDDD</thumbs_border>
				<mage_zoom>1</mage_zoom>
				<no_zoom_view_width>262</no_zoom_view_width>
				<no_zoom_view_height>262</no_zoom_view_height>
				<more_views_width>262</more_views_width>
			</progalleryconfig>
			<thumbscarouselconfig>
				<circular>1</circular>
				<infinite>1</infinite>
				<direction>left</direction>
				<items>3</items>
				<scrollitems>1</scrollitems>
				<scrolleffect>jswing</scrolleffect>
				<scrollduration>1000</scrollduration>
				<scrollhoverpause>1</scrollhoverpause>
				<play>0</play>
				<playdelay>0</playdelay>
				<has_prevandnext>1</has_prevandnext>
				<has_pagination>0</has_pagination>
				<prev>#thumbs-prev</prev>
				<prev_easing>easeInOutCubic</prev_easing>
				<next>#thumbs-next</next>
				<next_easing>easeInQuart</next_easing>
				<pagination>#thumbs-pagination</pagination>
				<pagination_easing>easeOutBounce</pagination_easing>
			</thumbscarouselconfig>
			<lightboxconfig>
				<open_event>dbclick</open_event>
				<closing_speed>fast</closing_speed>
				<lightboxwidth>1100</lightboxwidth>
				<top_margin>10</top_margin>
				<bottom_margin>10</bottom_margin>
				<open_easing>jswing</open_easing>
				<open_img_easing>easeInCubic</open_img_easing>
				<open_easing_time>200</open_easing_time>
				<open_img_easing_time>100</open_img_easing_time>
				<panningmode>Y</panningmode>
				<thumbs_width>90</thumbs_width>
				<thumbs_height>115</thumbs_height>
				<thumbs_border>1px solid #DDDDDD</thumbs_border>
			</lightboxconfig>
			<lightboxthumbsbarconfig>
				<top>25</top>
				<right></right>
				<bottom></bottom>
				<left>5</left>
				<zindex>9999</zindex>
				<width>500</width>
				<height>auto</height>
			</lightboxthumbsbarconfig>
			<lightboxthumbscarouselconfig>
				<circular>1</circular>
				<infinite>1</infinite>
				<direction>down</direction>
				<items>4</items>
				<scrollitems>1</scrollitems>
				<scrolleffect>jswing</scrolleffect>
				<scrollduration>700</scrollduration>
				<scrollhoverpause>1</scrollhoverpause>
				<play>1</play>
				<playdelay>0</playdelay>
				<prev>.lightbox-thumbs-prev</prev>
				<prev_easing>easeInOutCubic</prev_easing>
				<next>.lightbox-thumbs-next</next>
				<next_easing>easeInQuart</next_easing>
			</lightboxthumbscarouselconfig>
		</progallery>
	</default>
    <global>
        <models>
            <progallery>
                <class>Brandammo_Progallery_Model</class>
                <resourceModel>progallery_mysql4</resourceModel>
            </progallery>
            <progallery_mysql4>
                <class>Brandammo_Progallery_Model_Mysql4</class>
                <entities>
                    <progallery>
                        <table>progallery</table>
                    </progallery>
                </entities>
            </progallery_mysql4>
        </models>
        <resources>
            <progallery_setup>
                <setup>
                    <module>Brandammo_Progallery</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </progallery_setup>
            <progallery_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </progallery_write>
            <progallery_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </progallery_read>
        </resources>
        <blocks>
            <progallery>
                <class>Brandammo_Progallery_Block</class>
            </progallery>
            <catalog>
            	<rewrite>
            		<product_view_media>Brandammo_Progallery_Block_ProductViewMedia</product_view_media>
            	</rewrite>
            </catalog>
        </blocks>
        <helpers>
            <progallery>
                <class>Brandammo_Progallery_Helper</class>
            </progallery>
        </helpers>
    </global>
</config>