<?xml version="1.0"?>
<config>
    <modules>
        <Mgt_Varnish>
            <version>3.0.0</version>
        </Mgt_Varnish>
    </modules>
    <global>
        <blocks>
            <mgt_varnish>
                <class>Mgt_Varnish_Block</class>
            </mgt_varnish>
            <mgt_varnish_adminhtml>
                <class>Mgt_Varnish_Block_Adminhtml</class>
            </mgt_varnish_adminhtml>
        </blocks>
        <models>
            <mgt_varnish>
                <class>Mgt_Varnish_Model</class>
                <resourceModel>mgt_varnish_resource_mysql4</resourceModel>
            </mgt_varnish>
            <mgt_varnish_resource_mysql4>
                <class>Mgt_Varnish_Model_Resource_Mysql4</class>
            </mgt_varnish_resource_mysql4>
        </models>
        <helpers>
            <mgt_varnish>
                <class>Mgt_Varnish_Helper</class>
            </mgt_varnish>
        </helpers>
        <events>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <mgt_varnish>
                        <class>mgt_varnish/observer</class>
                        <method>purgeCatalogProductByStock</method>
                    </mgt_varnish>
                </observers>
            </cataloginventory_stock_item_save_after>
        </events>
    </global>
    <frontend>
        <routers>
           <mgt_varnish>
               <use>standard</use>
               <args>
                   <module>Mgt_Varnish</module>
                   <frontName>mgtvarnish</frontName>
               </args>
           </mgt_varnish>
        </routers>
        <events>
            <core_session_abstract_add_message>
                <observers>
                    <mgt_varnish>
                        <class>mgt_varnish/observer</class>
                        <method>disablePermanent</method>
                    </mgt_varnish>
                </observers>
            </core_session_abstract_add_message>
            <controller_action_postdispatch>
                <observers>
                    <mgt_varnish>
                        <class>mgt_varnish/observer</class>
                        <method>varnish</method>
                   </mgt_varnish>
                </observers>
            </controller_action_postdispatch>
            <http_response_send_before>
                <observers>
                    <mgt_varnish>
                        <class>mgt_varnish/observer</class>
                        <method>sanitizeCacheControlHeader</method>
                    </mgt_varnish>
                </observers>
            </http_response_send_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <mgt_varnish>
                        <type>singleton</type>
                        <class>mgt_varnish/observer</class>
                        <method>injectEsi</method>
                    </mgt_varnish>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <layout>
            <updates>
                <mgt_varnish>
                    <file>mgt_varnish.xml</file>
                </mgt_varnish>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mgt_Varnish before="Mage_Adminhtml">Mgt_Varnish_Adminhtml</Mgt_Varnish>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
     <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mgt_varnish translate="title" module="mgt_varnish">
                                            <title>mgt-commerce</title>
                                        </mgt_varnish>
                                    </children>
                                </config>
                            </children>
                        </system>
                   </children>
                </admin>
            </resources>
        </acl>
        <events>
            <controller_action_predispatch_adminhtml>
                <observers>
                    <mgt_varnish>
                        <class>mgt_varnish/observer</class>
                        <method>disableVarnish</method>
                    </mgt_varnish>
                </observers>
            </controller_action_predispatch_adminhtml>
            <catalog_category_save_after>
                <observers>
                    <mgt_varnish>
                        <class>mgt_varnish/observer</class>
                        <method>purgeCatalogCategory</method>
                    </mgt_varnish>
                </observers>
            </catalog_category_save_after>
            <catalog_product_save_after>
                <observers>
                    <mgt_varnish>
                        <class>mgt_varnish/observer</class>
                        <method>purgeCatalogProduct</method>
                    </mgt_varnish>
                </observers>
            </catalog_product_save_after>
            <cms_page_save_after>
                <observers>
                    <mgt_varnish>
                        <class>mgt_varnish/observer</class>
                        <method>purgeCmsPage</method>
                    </mgt_varnish>
                </observers>
            </cms_page_save_after>
            <core_config_data_save_after>
                <observers>
                    <mgt_varnish>
                        <class>mgt_varnish/observer</class>
                        <method>checkIfDisabled</method>
                    </mgt_varnish>
                </observers>
            </core_config_data_save_after>
        </events>
        <layout>
            <updates>
                <mgt_varnish>
                    <file>mgt_varnish.xml</file>
                </mgt_varnish>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <mgt_varnish>
            <mgt_varnish>
                <enabled>0</enabled>
                <servers>127.0.0.1</servers>
                <server_port>6081</server_port>
                <excluded_routes>
<![CDATA[checkout
customer
sales
review
tag
oauth
newsletter
moneybookers
paypal
wishlist]]></excluded_routes>
               <excluded_params><![CDATA[___store,___SID,SID,currency]]></excluded_params>
               <default_cache_lifetime>1296000</default_cache_lifetime>
               <routes_cache_lifetime>a:4:{i:1;a:2:{s:6:"regexp";s:15:"cms_index_index";s:5:"value";s:7:"1296000";}i:2;a:2:{s:6:"regexp";s:3:"cms";s:5:"value";s:7:"1296000";}i:3;a:2:{s:6:"regexp";s:20:"catalog_product_view";s:5:"value";s:7:"1296000";}s:18:"_1417690670819_819";a:2:{s:6:"regexp";s:16:"catalog_category";s:5:"value";s:7:"1296000";}}</routes_cache_lifetime>
               <purge_catalog_category>1</purge_catalog_category>
               <purge_catalog_product>1</purge_catalog_product>
               <purge_cms_page>1</purge_cms_page>
               <purge_secret_key>secret-purge-123</purge_secret_key>
               <debug>0</debug>
               <esi>0</esi>
               <esi_blocks>cart_sidebar</esi_blocks>
               <esi_debug>0</esi_debug>
               <esi_block_name_logging>0</esi_block_name_logging>
               <esi_url_logging>0</esi_url_logging>
            </mgt_varnish>
        </mgt_varnish>
    </default>
</config>
