<?xml version="1.0"?>
<config>
	<modules>
		<Sharpdot_Deliverydate>
			<version>0.1.4</version>
			<depends>
            <!-- no dependencies -->			
            </depends>
		</Sharpdot_Deliverydate>
	</modules>
	
	<global>
		<models>
			<deliverydate>
				<class>Sharpdot_Deliverydate_Model</class>
			</deliverydate>
		</models>
		<resources>
            <deliverydate_setup>
                <setup>
                    <module>Sharpdot_Deliverydate</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </deliverydate_setup>
            <deliverydate_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </deliverydate_write>
            <deliverydate_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </deliverydate_read>
        </resources>
		<helpers>
			<deliverydate>
				<class>Sharpdot_Deliverydate_Helper</class>
			</deliverydate>
        </helpers>
        <blocks>
        	<Sharpdot_Deliverydate>
        		<class>Sharpdot_Deliverydate_Block</class>
        	</Sharpdot_Deliverydate>
        </blocks>
		<fieldsets>
			<sales_convert_quote>
                <shipping_arrival_date><to_order>*</to_order></shipping_arrival_date>
				<shipping_time_slot><to_order>*</to_order></shipping_time_slot>
			 </sales_convert_quote>
			
			<sales_convert_order>
				<shipping_arrival_date><to_quote>*</to_quote></shipping_arrival_date>
				<shipping_time_slot><to_quote>*</to_quote></shipping_time_slot>
			</sales_convert_order>
		</fieldsets>
	</global>
	<frontend>
    	<layout>
    		<updates>
    			<deliverydate>
    				<file>deliverydate.xml</file>
    			</deliverydate>
    		</updates>
    	</layout>
    	<routers>
    		<deliverydate>
    			<use>standard</use>
    			<args>
    				<module>Sharpdot_Deliverydate</module>
    				<frontName>deliverydate</frontName>
    			</args>
    		</deliverydate>
    	</routers>

		<events>	
			<checkout_controller_onepage_save_shipping_method>
				<observers>
					<deliverydate_observer>
						<type>singleton</type>
        				<class>deliverydate/observer</class>
        				<method>checkout_controller_onepage_save_shipping_method</method>
					</deliverydate_observer>
				</observers>
			</checkout_controller_onepage_save_shipping_method>
			<checkout_type_onepage_save_order_after>
				<observers>
					<deliverydate_observer>
						<type>singleton</type>
        				<class>deliverydate/observer</class>
        				<method>checkout_type_onepage_save_order_after</method>
					</deliverydate_observer>
				</observers>
			</checkout_type_onepage_save_order_after>
			
			<!-- START Custom added by Branko Ajzele: Hooks into order save event 
			<checkout_onepage_controller_success_action>
			<observers>
				<hooksystem_order_success>
					<type>singleton</type>
					<class>deliverydate/observer</class>
					<method>hookToOrderSaveEvent</method>
				</hooksystem_order_success>
			</observers>
		</checkout_onepage_controller_success_action>
		-->
		</events>
    </frontend>    	
</config>