<?xml version="1.0"?>
<config>
    <modules>
        <MLogix_Gallery>
            <version>1.0.1</version>
        </MLogix_Gallery>
    </modules>
    <frontend>
        <routers>
            <gallery>
                <use>standard</use>
                <args>
                    <module>MLogix_Gallery</module>
                    <frontName>gallery</frontName>
                </args>
            </gallery>
        </routers>
        <layout>
            <updates>
                <gallery>
                    <file>gallery.xml</file>
                </gallery>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <gallery>
                <use>admin</use>
                <args>
                    <module>MLogix_Gallery</module>
                    <frontName>gallery</frontName>
                </args>
            </gallery>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <gallery module="gallery">
                <title>Trend</title>
                <sort_order>71</sort_order>
                <children>
                    <items module="gallery">
                        <title>Season Trends</title>
                        <sort_order>0</sort_order>
                        <action>gallery/adminhtml_gallery</action>
                    </items>
                    <day module="gallery">
                        <title>Look of the Month</title>
                        <sort_order>1</sort_order>                     
                        <children>
							<looks module="gallery" translate="title">
                                <title>Looks</title>
                                <sort_order>1</sort_order>
                                <action>gallery/adminhtml_day</action>
                            </looks>
                            <comment module="gallery" translate="title">
                                <title>Comments</title>
                                <sort_order>2</sort_order>
                                <action>gallery/manage_daycomment</action>
                            </comment>
                        </children>
                    </day>
                    <week module="gallery">
                        <title>Look of the Week</title>
                        <sort_order>2</sort_order>                      
                        <children>
							<looks module="gallery" translate="title">
                                <title>Looks</title>
                                <sort_order>1</sort_order>
                                <action>gallery/adminhtml_week</action>
                            </looks>
                            <comment module="gallery" translate="title">
                                <title>Comments</title>
                                <sort_order>2</sort_order>
                                <action>gallery/manage_comment</action>
                            </comment>
                        </children>
                    </week>
                </children>
            </gallery>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <gallery>
                            <title>Trends</title>
                            <sort_order>10</sort_order>
                            <children>
                                <items>
                                    <title>Season Trends</title>
                                </items>
                                <day>
                                    <title>Look of the Day</title>
                                    <children>
                                        <looks>
                                            <title>Looks</title>
                                        </looks>
                                        <comment>
                                            <title>Comments</title>
                                        </comment>
                                    </children>
                                </day>
                                <week>
                                    <title>Look of the Week</title>
                                    <children>
                                        <looks>
                                            <title>Looks</title>
                                        </looks>
                                        <comment>
                                            <title>Comments</title>
                                        </comment>
                                    </children>
                                </week>
                            </children>
                        </gallery>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <gallery>
                                            <title>Trends</title>
                                        </gallery>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <gallery>
                    <file>gallery.xml</file>
                </gallery>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <gallery>
                <class>MLogix_Gallery_Model</class>
                <resourceModel>gallery_mysql4</resourceModel>
            </gallery>
            <gallery_mysql4>
                <class>MLogix_Gallery_Model_Mysql4</class>
                <entities>
                    <gallery>
                        <table>gallery</table>
                    </gallery>
                    <day>
                        <table>galleryday</table>
                    </day>
                    <week>
                        <table>galleryweek</table>
                    </week>
                    <month>
                        <table>gallerymonth</table>
                    </month>
                    <comment>
                        <table>galleryweek_comment</table>
                    </comment>
                    <daycomment>
                        <table>galleryday_comment</table>
                    </daycomment>
                </entities>
            </gallery_mysql4>
        </models>
        <resources>
            <gallery_setup>
                <setup>
                    <module>MLogix_Gallery</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gallery_setup>
            <gallery_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gallery_write>
            <gallery_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gallery_read>
        </resources>
        <blocks>
            <gallery>
                <class>MLogix_Gallery_Block</class>
            </gallery>
        </blocks>
        <helpers>
            <gallery>
                <class>MLogix_Gallery_Helper</class>
            </gallery>
        </helpers>
    </global>
    <default>
        <gallery>
            <trendsettings>
                <imagewidth>898</imagewidth>
                <imageheight>901</imageheight>
                <archivethumbwidth>175</archivethumbwidth>
                <archivethumbheight>243</archivethumbheight>
            </trendsettings>
            <lookoftheday>
                <imagewidth>659</imagewidth>
                <imageheight>731</imageheight>
                <archivethumbwidth>144</archivethumbwidth>
                <archivethumbheight>193</archivethumbheight>
            </lookoftheday>
            <lookoftheweek>
                <imagewidth>659</imagewidth>
                <imageheight>731</imageheight>
                <archivethumbwidth>144</archivethumbwidth>
                <archivethumbheight>193</archivethumbheight>
            </lookoftheweek>
        </gallery>
    </default>
</config>
