<?xml version="1.0"?>
<config>
    <modules>
        <FCM_Premiumalert>
            <version>0.1.0</version>
        </FCM_Premiumalert>
    </modules>
    <frontend>
        <routers>
            <premiumalert>
                <use>standard</use>
                <args>
                    <module>FCM_Premiumalert</module>
                    <frontName>premiumalert</frontName>
                </args>
            </premiumalert>
        </routers>
        <layout>
            <updates>
                <premiumalert>
                    <file>premiumalert.xml</file>
                </premiumalert>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<premiumalert>
				<use>admin</use>
				<args>
					<module>FCM_Premiumalert</module>
					<frontName>premiumalert</frontName>
				</args>
			</premiumalert>
        </routers>
    </admin>
    <global>
        <models>
            <premiumalert>
                <class>FCM_Premiumalert_Model</class>
                <resourceModel>premiumalert_mysql4</resourceModel>
            </premiumalert>
            <premiumalert_mysql4>
                <class>FCM_Premiumalert_Model_Mysql4</class>
                <entities>
                    <premiumalert>
                        <table>premiumalert</table>
                    </premiumalert>
                </entities>
            </premiumalert_mysql4>
        </models>
        <resources>
            <premiumalert_setup>
                <setup>
                    <module>FCM_Premiumalert</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </premiumalert_setup>
            <premiumalert_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </premiumalert_write>
            <premiumalert_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </premiumalert_read>
        </resources>
        <blocks>
            <premiumalert>
                <class>FCM_Premiumalert_Block</class>
            </premiumalert>
        </blocks>
        <helpers>
            <premiumalert>
                <class>FCM_Premiumalert_Helper</class>
            </premiumalert>
        </helpers>
    </global>
</config>