<?xml version="1.0"?>
<config>
    <modules>
        <FCM_Nosql>
            <version>0.1.0</version>
        </FCM_Nosql>
    </modules>
    <frontend>
        <routers>
            <nosql>
                <use>standard</use>
                <args>
                    <module>FCM_Nosql</module>
                    <frontName>nosql</frontName>
                </args>
            </nosql>
        </routers>
    </frontend>
    <admin>
        <routers>
            <nosql>
                <use>admin</use>
                <args>
                    <module>FCM_Nosql</module>
                    <frontName>nosql</frontName>
                </args>
            </nosql>
        </routers>
    </admin>
    <global>
	<resources>
		<nosql_setup>
			<setup>
				<module>FCM_Nosql</module>
	    <class>Mage_Eav_Model_Entity_Setup</class>
			</setup>
			<connection>
				<use>core_setup</use>
			</connection>
		</nosql_setup>
	</resources>  
        <helpers>
            <nosql>
                <class>FCM_Nosql_Helper</class>
            </nosql>
        </helpers>
        <models>
            <nosql>
                <class>FCM_Nosql_Model</class>
            </nosql>
        </models>
    </global>
</config>
