<?xml version="1.0"?>
<config>
    <modules>
        <FCM_Paymentprovider>
            <version>0.1.0</version>
        </FCM_Paymentprovider>
    </modules>
    <frontend>
        <routers>
            <paymentprovider>
                <use>standard</use>
                <args>
                    <module>FCM_Paymentprovider</module>
                    <frontName>paymentprovider</frontName>
                </args>
            </paymentprovider>
        </routers>
        <layout>
            <updates>
                <paymentprovider>
                    <file>paymentprovider.xml</file>
                </paymentprovider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <paymentprovider>
                <use>admin</use>
                <args>
                    <module>FCM_Paymentprovider</module>
                    <frontName>paymentprovider</frontName>
                </args>
            </paymentprovider>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <system>
                <children>
                    <paymentprovider module="paymentprovider">
                        <title>Manage Payment Providers</title>
                        <sort_order>3</sort_order>
                        <action>paymentprovider/adminhtml_paymentprovider</action>
                    </paymentprovider>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <paymentprovider>
                            <title>Payment Providers</title>
                            <sort_order>200</sort_order>
                        </paymentprovider>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <paymentprovider>
                    <file>paymentprovider.xml</file>
                </paymentprovider>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <paymentprovider>
                <class>FCM_Paymentprovider_Model</class>
                <resourceModel>paymentprovider_mysql4</resourceModel>
            </paymentprovider>
            <paymentprovider_mysql4>
                <class>FCM_Paymentprovider_Model_Mysql4</class>
                <entities>
                    <paymentprovider>
                        <table>fcm_payment</table>
                    </paymentprovider>
                </entities>
            </paymentprovider_mysql4>
        </models>
        <resources>
            <paymentprovider_setup>
                <setup>
                    <module>FCM_Paymentprovider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paymentprovider_setup>
            <paymentprovider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paymentprovider_write>
            <paymentprovider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paymentprovider_read>
        </resources>
        <blocks>
            <paymentprovider>
                <class>FCM_Paymentprovider_Block</class>
            </paymentprovider>
        </blocks>
        <helpers>
            <paymentprovider>
                <class>FCM_Paymentprovider_Helper</class>
            </paymentprovider>
        </helpers>
    </global>
</config>