<?xml version="1.0"?>
<config>
    <modules>
        <FCM_Seo>
            <version>0.1.0</version>
        </FCM_Seo>
    </modules>
    <frontend>
        <routers>
            <seo>
                <use>standard</use>
                <args>
                    <module>FCM_Seo</module>
                    <frontName>seo</frontName>
                </args>
            </seo>
        </routers>
        <layout>
            <updates>
                <seo>
                    <file>seo.xml</file>
                </seo>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <seo>
                <class>FCM_Seo_Model</class>
                <resourceModel>seo_mysql4</resourceModel>
            </seo>
            <seo_mysql4>
                <class>FCM_Seo_Model_Mysql4</class>
                <entities>
                    <seo>
                        <table>seo</table>
                    </seo>
                </entities>
            </seo_mysql4>
        </models>
        <resources>
            <seo_setup>
                <setup>
                    <module>FCM_Seo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seo_setup>
            <seo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </seo_write>
            <seo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </seo_read>
        </resources>
        <blocks>
            <seo>
                <class>FCM_Seo_Block</class>
            </seo>
        </blocks>
        <helpers>
            <seo>
                <class>FCM_Seo_Helper</class>
            </seo>
        </helpers>
        <events>
            <catalog_controller_product_view>
                <observers>
                    <seo>
                        <type>singleton</type>
                        <class>FCM_Seo_Model_Observer</class>
                        <method>productView</method>
                    </seo>
                </observers>
            </catalog_controller_product_view>
            <catalog_controller_category_init_after>
                <observers>
                    <seo>
                        <type>singleton</type>
                        <class>FCM_Seo_Model_Observer</class>
                        <method>categoryView</method>
                    </seo>
                </observers>
            </catalog_controller_category_init_after>
        </events>
    </global>
</config>