<?xml version="1.0"?>
<config>
    <modules>
        <FCM_Provider>
            <version>0.1.0</version>
        </FCM_Provider>
    </modules>
    <frontend>
        <routers>
            <provider>
                <use>standard</use>
                <args>
                    <module>FCM_Provider</module>
                    <frontName>provider</frontName>
                </args>
            </provider>
        </routers>
        <layout>
            <updates>
                <provider>
                    <file>provider.xml</file>
                </provider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <provider>
                <use>admin</use>
                <args>
                    <module>FCM_Provider</module>
                    <frontName>provider</frontName>
                </args>
            </provider>
        </routers>
    </admin>
    <adminhtml>        
        <menu>
            <system>
                <children>
                    <provider module="provider">
                        <title>Manage Shipping Providers</title>
                        <sort_order>1</sort_order>
                        <action>provider/adminhtml_provider</action>
                    </provider>
                </children>
            </system>
        </menu>            
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <provider>
                            <title>Provider Module</title>
                            <sort_order>200</sort_order>
                        </provider>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <provider>
                    <file>provider.xml</file>
                </provider>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <provider>
                <class>FCM_Provider_Model</class>
                <resourceModel>provider_mysql4</resourceModel>
            </provider>
            <provider_mysql4>
                <class>FCM_Provider_Model_Mysql4</class>
                <entities>
                    <provider>
                        <table>provider</table>
                    </provider>
                </entities>
            </provider_mysql4>
        </models>
        <resources>
            <provider_setup>
                <setup>
                    <module>FCM_Provider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </provider_setup>
            <provider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </provider_write>
            <provider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </provider_read>
        </resources>
        <blocks>
            <provider>
                <class>FCM_Provider_Block</class>
            </provider>
        </blocks>
        <helpers>
            <provider>
                <class>FCM_Provider_Helper</class>
            </provider>
        </helpers>
    </global>
</config>