<?xml version="1.0"?>
<config>
	<modules>
		<RapidCommerce_Ias>
			<version>2.0.0</version>
		</RapidCommerce_Ias>
	</modules>
	<frontend>
		<layout>
			<updates>
				<rapidcommerce_ias>
					<file>rapidcommerce-ias.xml</file>
				</rapidcommerce_ias>
			</updates>
		</layout>
		<translate>
			<modules>
				<files>
					<Rapidcommerce_Ias>
						<default>RapidCommerce_Ias.csv</default>
					</Rapidcommerce_Ias>
				</files>
			</modules>
		</translate>
	</frontend>
	<global>
		<blocks>
			<ias>
				<class>RapidCommerce_Ias_Block</class>
			</ias>
		</blocks>
	</global>
	<default>
		<catalog>
			<frontend>
				<include_jquery>1</include_jquery>
				<useajaxscroll>0</useajaxscroll>
				<ias_triggerpagethreshold>3</ias_triggerpagethreshold>
				<ias_thresholdmargin>0</ias_thresholdmargin>
				<ias_history>1</ias_history>
				<useuitotop>0</useuitotop>
			</frontend>
		</catalog>
	</default>
</config>
