<?xml version="1.0"?>
<config>
    <modules>
        <Aitoc_Aitloyalty>
            <version>10.0.10</version>
        </Aitoc_Aitloyalty>
    </modules>
    <admin>
        <routers>
        </routers>
    </admin>
    <frontend>
        <routers/>
        <events/>
        <translate>
            <modules>
                <Aitoc_Aitloyalty>
                    <files>
                        <default>Aitoc_Aitloyalty.csv</default>
                    </files>
                </Aitoc_Aitloyalty>
            </modules>
        </translate>
        <layout>
            <updates>
                <aitloyalty>
                    <file>aitloyalty.xml</file>
                </aitloyalty>
            </updates>
        </layout>
        <routers>
            <aitloyalty>
                <use>standard</use>
                <args>
                    <module>Aitoc_Aitloyalty</module>
                    <frontName>aitloyalty</frontName>
                </args>
            </aitloyalty>
        </routers>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Aitoc_Aitloyalty>
                    <files>
                        <default>Aitoc_Aitloyalty.csv</default>
                    </files>
                </Aitoc_Aitloyalty>
            </modules>
        </translate>
        <layout>
            <updates>
                <aitloyalty>
                    <file>aitloyalty.xml</file>
                </aitloyalty>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <config_vars/>
    </default>
    <global>
        <resources>
            <aitloyalty_setup>
                <setup>
                    <module>Aitoc_Aitloyalty</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aitloyalty_setup>
            <aitloyalty_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aitloyalty_write>
            <aitloyalty_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aitloyalty_read>
        </resources>
        <blocks>
            <aitloyalty>
                <class>Aitoc_Aitloyalty_Block</class>
            </aitloyalty>
            <adminhtml>
                <rewrite>
                    <promo_quote_edit_tabs>Aitoc_Aitloyalty_Block_Rewrite_AdminhtmlPromoQuoteEditTabs</promo_quote_edit_tabs>
                    <promo_quote_edit_tab_actions>Aitoc_Aitloyalty_Block_Rewrite_AdminhtmlPromoQuoteEditTabActions</promo_quote_edit_tab_actions>
                    <report_sales_sales_grid>Aitoc_Aitloyalty_Block_Rewrite_AdminhtmlReportSalesSalesGrid</report_sales_sales_grid>
                    <report_sales_coupons_grid>Aitoc_Aitloyalty_Block_Rewrite_AdminhtmlReportSalesCouponsGrid</report_sales_coupons_grid>
                    <sales_order_totals>Aitoc_Aitloyalty_Block_Rewrite_Adminhtml_Sales_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Aitoc_Aitloyalty_Block_Rewrite_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
                    <sales_order_create_items_grid>Aitoc_Aitloyalty_Block_Rewrite_AdminhtmlSalesOrderCreateItemsGrid</sales_order_create_items_grid>
                </rewrite>
            </adminhtml>
            <customer>
                <rewrite>
                    <account_navigation>Aitoc_Aitloyalty_Block_Rewrite_FrontAccountNavigation</account_navigation>
                </rewrite>
            </customer>
            <sales>
                <rewrite>
                    <order_totals>Aitoc_Aitloyalty_Block_Rewrite_Front_Sales_Order_Totals</order_totals>
                </rewrite>
            </sales>
        </blocks>
        <helpers>
            <aitloyalty>
                <class>Aitoc_Aitloyalty_Helper</class>
            </aitloyalty>
        </helpers>
        <models>
            <aitloyalty>
                <class>Aitoc_Aitloyalty_Model</class>
                <resourceModel>aitloyalty_mysql4</resourceModel>
            </aitloyalty>
            <aitloyalty_mysql4>
                <class>Aitoc_Aitloyalty_Model_Mysql4</class>
                <entities>
                    <aitsalesruledisplay>
                        <table>aitoc_salesrule_display</table>
                    </aitsalesruledisplay>
                    <aitsalesruledisplaytitle>
                        <table>aitoc_salesrule_display_title</table>
                    </aitsalesruledisplaytitle>
                </entities>
            </aitloyalty_mysql4>
            <salesrule>
                <rewrite>
                    <quote_discount>Aitoc_Aitloyalty_Model_Rewrite_Front_SalesRule_Quote_Discount</quote_discount>
                    <rule_condition_combine>Aitoc_Aitloyalty_Model_Rewrite_FrontSalesRuleRuleConditionCombine</rule_condition_combine>
                    <validator>Aitoc_Aitloyalty_Model_Rewrite_FrontSalesRuleValidator</validator>
                </rewrite>
            </salesrule>
            <tax>
                <rewrite>
                    <sales_total_quote_tax>Aitoc_Aitloyalty_Model_Rewrite_SalesTotalQuoteTax</sales_total_quote_tax>
                </rewrite>
            </tax>
            <sales>
                <rewrite>
                    <quote_address_total_discount>Aitoc_Aitloyalty_Model_Rewrite_FrontSalesQuoteAddressTotalDiscount</quote_address_total_discount>
                    <order_pdf_invoice>Aitoc_Aitloyalty_Model_Rewrite_FrontSalesOrderPdfInvoice</order_pdf_invoice>
                    <order_pdf_creditmemo>Aitoc_Aitloyalty_Model_Rewrite_FrontSalesOrderPdfCreditmemo</order_pdf_creditmemo>
                </rewrite>
            </sales>
            <reports_mysql4>
                <rewrite>
                    <report_collection>Aitoc_Aitloyalty_Model_Rewrite_Mysql4_ReportsReportCollection</report_collection>
                </rewrite>
            </reports_mysql4>
        </models>
        <events>
            <model_save_before>
                <observers>
                    <aitoc_aitloyalty_model_observer>
                        <type>singleton</type>
                        <class>Aitoc_Aitloyalty_Model_Observer</class>
                        <method>onModelSaveBefore</method>
                    </aitoc_aitloyalty_model_observer>
                </observers>
            </model_save_before>
            <model_save_after>
                <observers>
                    <aitoc_aitloyalty_model_observer>
                        <type>singleton</type>
                        <class>Aitoc_Aitloyalty_Model_Observer</class>
                        <method>onModelSaveAfter</method>
                    </aitoc_aitloyalty_model_observer>
                </observers>
            </model_save_after>
            <aitoc_module_disable_before>
                <observers>
                    <aitoc_aitloyalty_model_moduleobserver>
                        <type>singleton</type>
                        <class>Aitoc_Aitloyalty_Model_ModuleObserver</class>
                        <method>onAitocModuleDisableBefore</method>
                    </aitoc_aitloyalty_model_moduleobserver>
                </observers>
            </aitoc_module_disable_before>
            <paypal_prepare_line_items>
                <observers>
                    <aitoc_aitloyalty_observer_paypal_cart>
                        <type>singleton</type>
                        <class>Aitoc_Aitloyalty_Model_Observer_Paypal_Cart</class>
                        <method>process</method>
                    </aitoc_aitloyalty_observer_paypal_cart>
                </observers>
            </paypal_prepare_line_items>
            <salesrule_validator_process>
                <observers>
                    <aitoc_aitloyalty_model_observer>
                        <type>singleton</type>
                        <class>Aitoc_Aitloyalty_Model_Observer</class>
                        <method>onValidateSalesRule</method>
                    </aitoc_aitloyalty_model_observer>
                </observers>
            </salesrule_validator_process>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <aitloyalty>
                        <type>model</type>
                        <class>aitloyalty/system_config_observer</class>
                        <method>onAdminhtmlControllerActionPredispatchStart</method>
                    </aitloyalty>
                </observers>
            </adminhtml_controller_action_predispatch_start>
            <core_locale_set_locale>
                <observers>
                    <aitloyalty>
                        <type>model</type>
                        <class>aitloyalty/cart_observer</class>
                        <method>onCoreLocaleSetLocale</method>
                    </aitloyalty>
                </observers>
            </core_locale_set_locale>
        </events>
        <pdf>
            <totals>
                <discount translate="title_positive">
                    <title_positive>Surcharge</title_positive>
                    <amount_prefix/>
                </discount>
            </totals>
        </pdf>
    </global>
</config>
<!--
/**
 * Product:     Loyalty Program for Enterprise Edition
 * Package:     Aitoc_Aitloyalty_10.0.10_574534
 * Purchase ID: INzRIwyyaNoeOLERhAgt4U28qVKIeEa3dfPrgaAN3C
 * Generated:   2013-05-13 06:36:55
 * File path:   app/code/local/Aitoc/Aitloyalty/etc/config.xml
 * Copyright:   (c) 2013 AITOC, Inc.
 */
-->
