<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Categoryslider>
            <version>1.0.4</version>
        </Magestore_Categoryslider>
    </modules>
    <frontend>
        <routers>
            <categoryslider>
                <use>standard</use>
                <args>
                    <module>Magestore_Categoryslider</module>
                    <frontName>categoryslider</frontName>
                </args>
            </categoryslider>
        </routers>
        <layout>
            <updates>
                <categoryslider>
                    <file>categoryslider.xml</file>
                </categoryslider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<categoryslider>
				<use>admin</use>
				<args>
					<module>Magestore_Categoryslider</module>
					<frontName>categoryslider</frontName>
				</args>
			</categoryslider>
        </routers>
    </admin>
    <adminhtml>
		
		<layout>
			<updates>
				<categoryslider>
					<file>categoryslider.xml</file>
				</categoryslider>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <categoryslider>
                <class>Magestore_Categoryslider_Model</class>
                <resourceModel>categoryslider_mysql4</resourceModel>
            </categoryslider>
            <categoryslider_mysql4>
                <class>Magestore_Categoryslider_Model_Mysql4</class>
                <entities>
                    <categoryslider>
                        <table>categoryslider</table>
                    </categoryslider>
                </entities>
            </categoryslider_mysql4>
        </models>
        <resources>
            <categoryslider_setup>
                <setup>
                    <module>Magestore_Categoryslider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </categoryslider_setup>
            <categoryslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </categoryslider_write>
            <categoryslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </categoryslider_read>
        </resources>
        <blocks>
            <categoryslider>
                <class>Magestore_Categoryslider_Block</class>
            </categoryslider>
        </blocks>
        <helpers>
            <categoryslider>
                <class>Magestore_Categoryslider_Helper</class>
            </categoryslider>
        </helpers>
    </global>
		<default>
			<categoryslider>
				<settings>
					<time_delay>6</time_delay>
					<show_description>1</show_description>
					<list_style>1</list_style>
					<image_width>691</image_width>
					<image_height>265</image_height>
				</settings>
			</categoryslider>
		</default>
</config>