<?xml version="1.0"?>
<config>
    <modules>
        <Custom_Sizeguide>
            <version>0.1.0</version>
        </Custom_Sizeguide>
    </modules>
    <frontend>
        <routers>
            <sizeguide>
                <use>standard</use>
                <args>
                    <module>Custom_Sizeguide</module>
                    <frontName>sizeguide</frontName>
                </args>
            </sizeguide>
        </routers>
        <layout>
            <updates>
                <sizeguide>
                    <file>sizeguide.xml</file>
                </sizeguide>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<sizeguide>
				<use>admin</use>
				<args>
					<module>Custom_Sizeguide</module>
					<frontName>sizeguide</frontName>
				</args>
			</sizeguide>
        </routers>
    </admin>
    <adminhtml>
	<menu>
		<cms translate="title" module="cms">			
			<children>
				<sizeguide module="sizeguide">
								<title>Manage Size Guide</title>
								<sort_order>1</sort_order>																	
									<action>sizeguide/adminhtml_sizeguide</action>
				</sizeguide>
			</children>
		</cms>
		</menu>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Custom_Sizeguide>
							<title>SizeGuide Module</title>
							<sort_order>10</sort_order>
						</Custom_Sizeguide>
						<system>
							<children>
								<config>
									<children>
										<sizeguide translate="title" module="sizeguide"> 
											<title>Size Guide</title>
											<sort_order>50</sort_order>
										</sizeguide>
									</children>							
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		
		<layout>
			<updates>
				<sizeguide>
					<file>sizeguide.xml</file>
				</sizeguide>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <sizeguide>
                <class>Custom_Sizeguide_Model</class>
                <resourceModel>sizeguide_mysql4</resourceModel>
            </sizeguide>
            <sizeguide_mysql4>
                <class>Custom_Sizeguide_Model_Mysql4</class>
                <entities>
                    <sizeguide>
                        <table>sizeguide</table>
                    </sizeguide>
                </entities>
            </sizeguide_mysql4>
        </models>
        <resources>
            <sizeguide_setup>
                <setup>
                    <module>Custom_Sizeguide</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sizeguide_setup>
            <sizeguide_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sizeguide_write>
            <sizeguide_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sizeguide_read>
        </resources>
        <blocks>
            <sizeguide>
                <class>Custom_Sizeguide_Block</class>
            </sizeguide>
        </blocks>
        <helpers>
            <sizeguide>
                <class>Custom_Sizeguide_Helper</class>
            </sizeguide>
        </helpers>
    </global>
</config>