#thumbs-prev-and-next {position:relative;}
#thumbs-prev { 
	background: transparent url(../images/progal-nav-prev.png) no-repeat;
	height:30px;
	width:30px;
	left: 2px;
    position: absolute;
    top: 45px;
}

#thumbs-next {
	background: transparent url(../images/progal-nav-next.png) no-repeat;
	margin-left:3px;
	height:30px;
	width:30px;
	position: absolute;
    right: -9px;
    top: 45px;
	
}
#image-pan{position:relative; overflow:hidden; cursor:crosshair;}
#lightbox-container{position:relative; left:0;}
#lightbox-more-views-list{margin:0}
#lightbox-more-views-list li{padding-bottom: 3px;}
#lightbox-more-views-list li a {border:none;display:block;}
#progallery-overlay {
	position:fixed;
	top:0;
	left:0;
	background: url(../images/overlay.png) repeat scroll 0 0 transparent;
	width:100%;
	height:100%;
	z-index:99999;
	opacity:0.9;
}
#lightbox-overlay {position:absolute;top:0;left:0;background: white;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5;width:100%;height:100%;z-index:999}
#progallery-lightbox-close {cursor:pointer;position:absolute;right:5px;top:5px;z-index: 9999;background: transparent url(../images/lightbox-commands-sprite.png) 0 0 no-repeat;width:20px;height:21px;z-index:99999;}
#onpage-image-spinner {width:395px;height:413px;position:absolute; top:1px;left:1;z-index:100;background: gray;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5;display:none;}
#lightbox-image-spinner {width:48px;height:48px;position:absolute; top:50%;left:50%;z-index:10000;background: url(../images/lightbox-ajax-loader.gif) no-repeat;margin-left:-24px;margin-top:-24px;}
#onpage-spinner {width:32px;height:32px;position:relative; top:50%;left:50%;margin-left:-18px;margin-top:-18px;z-index:101;background: transparent url(../images/ajax-loader-v1.gif) no-repeat;}
#lightbox-carousel-controls {position:absolute; left: 2px; height: 16px;width:auto;top:-20px;}
#lightbox-more-views-list-prev-vertical {background: url(../images/progal-nav-prev.png) no-repeat transparent;height: 20px;width:20px;float:left;cursor:pointer;}
#lightbox-more-views-list-next-vertical {background: url(../images/progal-nav-next.png) no-repeat transparent;height: 20px;width:20px;float:left;cursor:pointer;margin-left:50px;}
#thumbnails-bar {text-align:left;}
#thumbnails-bar-wrap {padding-top:20px;text-align:left;}
.clearfix {float: none;clear: both;}
.thumbs-carousel-navig {display:block;width:16px;height:16px;text-indent:-99999px;float:left;cursor:pointer;}
.pagination {text-align: center;}
.pagination a {background: url(../images/progal-pagination-off.gif) no-repeat transparent;width: 16px;height: 16px;margin: 0 5px 0 0;display: inline-block;}
.pagination a.selected {background: url(../images/progal-pagination-on.gif) no-repeat transparent;cursor: default;}
.pagination a span {display: none;}
.viewable {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.lightbox-viewable {-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.product-lightbox {position:relative;}
.caroufredsel_wrapper{overflow:hidden;}
#panning-wrap{ width:600px; height:650px; }
#progallery-lightbox, #image-pan{height:100%; width:100%;}
#progallery-lightbox {
	border:3px solid #CCCCCC;-moz-box-shadow: 0 0 20px #000000; -webkit-box-shadow: 0 0 20px #000000; 
	height:650px !important;
}
#more-views-loader {background: url("../images/ajax-loader-v1.gif") no-repeat scroll 0 0 transparent;height: 76px;left: 50%;margin-left: -18px;margin-top: 245px;opacity:0.5;position: absolute;top: 50%;width: 395px;z-index: 101;}
#zoom_loader {background: url("../images/ajax-loader-v1.gif") no-repeat scroll 0 0 transparent;height: 76px;left: 5%;margin-left: -18px;margin-top: 225px;opacity:0.5;position: absolute;top: 10%;width: 395px;z-index: 9999999;}