<?xml version="1.0"?>
<config>
    <modules>
        <FCM_Lockorder>
            <version>0.1.0</version>
        </FCM_Lockorder>
    </modules>
    <frontend>
        <routers>
            <lockorder>
                <use>standard</use>
                <args>
                    <module>FCM_Lockorder</module>
                    <frontName>lockorder</frontName>
                </args>
            </lockorder>
        </routers>
        <layout>
            <updates>
                <lockorder>
                    <file>lockorder.xml</file>
                </lockorder>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <lockorder>
                <class>FCM_Lockorder_Model</class>
                <resourceModel>lockorder_mysql4</resourceModel>
            </lockorder>
            <lockorder_mysql4>
                <class>FCM_Lockorder_Model_Mysql4</class>
                <entities>
                    <lockorder>
                        <table>lockorder</table>
                    </lockorder>
                </entities>
            </lockorder_mysql4>
        </models>
        <resources>
            <lockorder_setup>
                <setup>
                    <module>FCM_Lockorder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lockorder_setup>
            <lockorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lockorder_write>
            <lockorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lockorder_read>
        </resources>
        <blocks>
            <lockorder>
                <class>FCM_Lockorder_Block</class>
            </lockorder>
            <adminhtml>
                <rewrite>
                    <sales_order_view>FCM_Lockorder_Block_Adminhtml_Sales_Order_View</sales_order_view>
                    <sales_order_view_info>FCM_Lockorder_Block_Adminhtml_Sales_Order_View_Info</sales_order_view_info>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <lockorder>
                <class>FCM_Lockorder_Helper</class>
            </lockorder>
        </helpers>
        <events>
            <sales_order_save_after>
                <observers>
                    <lockorder>
                        <type>singleton</type>
                        <class>FCM_Lockorder_Model_Observer</class>
                        <method>sales_order_save_after</method>
                    </lockorder>
                </observers>
            </sales_order_save_after>
            <sales_order_creditmemo_refund>
                <observers>
                    <lockorder>
                        <type>singleton</type>
                        <class>FCM_Lockorder_Model_Observer</class>
                        <method>sales_order_creditmemo_refund</method>
                    </lockorder>
                </observers>
            </sales_order_creditmemo_refund>
			<cron_run_solr_index>
                <observers>
                    <lockorder>
                        <type>singleton</type>
                        <class>FCM_Lockorder_Model_Observer</class>
                        <method>runsolrindex</method>
                    </lockorder>
                </observers>
            </cron_run_solr_index>
        </events>
        <routers>
            <adminhtml>
                <rewrite>
                    <sales_order_creditmemo>
                        <from><![CDATA[#^/admin/sales_order_creditmemo/$#]]>
                        </from>
                        <to>/admin/sales_order_creditmemo/</to>
                    </sales_order_creditmemo>
                    <sales_order_edit>
                        <from><![CDATA[#^/admin/sales_order_edit/$#]]>
                        </from>
                        <to>/admin/sales_order_edit/</to>
                    </sales_order_edit>
					 <sales_order_create>
                        <from><![CDATA[#^/admin/sales_order_create/$#]]>
                        </from>
                        <to>/admin/sales_order_create/</to>
                    </sales_order_create>
                </rewrite>
            </adminhtml>
        </routers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <FCM_Lockorder_Adminhtml before="Mage_Adminhtml">FCM_Lockorder_Adminhtml</FCM_Lockorder_Adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>