<?xml version="1.0"?>
<config>
    <modules>
        <FCM_Productsale>
            <version>0.1.0</version>
        </FCM_Productsale>
    </modules>
    <frontend>
        <routers>
            <productsale>
                <use>standard</use>
                <args>
                    <module>FCM_Productsale</module>
                    <frontName>productsale</frontName>
                </args>
            </productsale>
        </routers>
        <layout>
            <updates>
                <productsale>
                    <file>productsale.xml</file>
                </productsale>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<productsale>
				<use>admin</use>
				<args>
					<module>FCM_Productsale</module>
					<frontName>productsale</frontName>
				</args>
			</productsale>
        </routers>
    </admin>
    <adminhtml>
		<!--menu>
			<productsale module="productsale">
				<title>Productsale</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="productsale">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>productsale/adminhtml_productsale</action>
					</items>
				</children>
			</productsale>
		</menu-->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<FCM_Productsale>
							<title>Productsale Module</title>
							<sort_order>10</sort_order>
						</FCM_Productsale>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<productsale>
					<file>productsale.xml</file>
				</productsale>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <productsale>
                <class>FCM_Productsale_Model</class>
                <resourceModel>productsale_mysql4</resourceModel>
            </productsale>
            <productsale_mysql4>
                <class>FCM_Productsale_Model_Mysql4</class>
                <entities>
                    <productsale>
                        <table>productsale</table>
                    </productsale>
                </entities>
            </productsale_mysql4>
        </models>
        <resources>
            <productsale_setup>
                <setup>
                    <module>FCM_Productsale</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productsale_setup>
            <productsale_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productsale_write>
            <productsale_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productsale_read>
        </resources>
        <blocks>
            <productsale>
                <class>FCM_Productsale_Block</class>
            </productsale>
        </blocks>
        <helpers>
            <productsale>
                <class>FCM_Productsale_Helper</class>
            </productsale>
        </helpers>
    </global>
</config>