<?xml version="1.0"?>
<config>
    <modules>
        <Custom_Mycheckout>
            <version>0.1.0</version>
        </Custom_Mycheckout>
    </modules>
    <frontend>
        <routers>
            <mycheckout>
                <use>standard</use>
                <args>
                    <module>Custom_Mycheckout</module>
                    <frontName>mycheckout</frontName>
                </args>
            </mycheckout>			
			
			<checkout>
                <args>
                    <modules>
                        <custom_mycheckout before="Mage_Checkout">Custom_Mycheckout</custom_mycheckout>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
	
	<global>
		<models>
            <mycheckout>
                <class>Custom_Mycheckout_Model</class>
            </mycheckout>
        </models>
	</global>
</config>