<!--@subject Password Reset Confirmation for {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#e1e1e1; color:#373738; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#e1e1e1; color:#373738; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" >
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="0" border="0" width="650">
               <tr>
               <td bgcolor="#F3F3F3">
               <table width="100%" border="0" cellpadding="0" cellspacing="0">
                     <tr>
                        <td valign="top" background="#f3f3f3" style="font-size:9px; color:#7d7d7d; font-family:Verdana, Geneva, sans-serif;border-bottom:1px dashed #c6c6c6;  padding:5px 10px;">
                        
    You're receiving this email because you signed up for <a href="" style="color:#353673; text-decoration:none">{{var store.getFrontendName()}}</a></td>
	<td style="font-size:9px; color:#7d7d7d; font-family:Verdana, Geneva, sans-serif; border-bottom:1px dashed #c6c6c6; padding:5px 10px;">
	<!--Can't see images? <a href="" style="color:#353673; text-decoration:none">Click Here </a>-->
	</td>
                    </tr> 
               </table>
               </td>
               
               </tr>  
<tr><td bgcolor="#F3F3F3" style="font-size:9px; color:#7d7d7d; font-family:Verdana, Geneva, sans-serif;border-bottom:1px dashed #c6c6c6;  padding:5px 10px;">
To get the {{var store.getFrontendName()}} Newsletter in your inbox add <a href="mailto:service@americanswan.com" style="color:#353673; text-decoration:none;">service@americanswan.com</a> to your address book
</td></tr>		
<tr><td bgcolor="#F3F3F3">
<table>  <tr>
                        <td valign="top" width="300" style="padding:5px 10px;">
                            <a href="{{store url=""}}" style="color:#353673; text-decoration:none;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                            <td><img src="{{skin url="images/gurantee.png"}}" width="117" height="37"></td>
                            <td><img src="{{skin url="images/money-back.png"}}" width="117" height="37"></td>
                            <td><img src="{{skin url="images/assured_quality.png"}}" width="117" height="37"></td>
                    </tr>
                   
                    </table>
</td>

</tr>	
 <tr>
  <td colspan="4"><img src="{{skin url="images/dotted_line2.png"}}" align="line" width="652" height="5">	</td></tr>	
                        <tr>
                            <td valign="top" style="padding:25px 15px;">
                                <h1 style="font-size: 22px; font-weight: normal; line-height: 22px; margin: 0 0 11px 0;">Dear {{htmlescape var=$customer.name}},</h1>
                                <p style="font-size: 12px; line-height: 16px; margin: 0 0 8px 0;">Can't remember your password, huh? Don't worry...It happens to the best of us.</p>
                                <p style="font-size: 12px; line-height: 16px; margin: 0;">Simply click on the link below or copy and paste the URL into your browser.  <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="color:#1E7EC8;">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a></p>
                                <br />
                                <p style="font-size:12px; line-height:16px; margin:0;">This will reset your password. You can then login and change it to something you'll remember easily.</p>
                            </td>
                        </tr>
                        <tr>
                            <td style="background-color: #EAEAEA; text-align: center;"><p style="font-size:12px; margin:0; text-align: center;">Thank you, <strong>{{var store.getFrontendName()}}</strong></p></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
