<!--@subject Welcome, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<body style="background:#e1e1e1; color:#373738; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#e1e1e1; color:#373738; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" >
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="0" border="0" width="650">
               <tr>
               <td bgcolor="#F3F3F3">
               <table width="100%" border="0" cellpadding="0" cellspacing="0">
                     <tr>
                        <td valign="top" background="#f3f3f3" style="font-size:9px; color:#7d7d7d; font-family:Verdana, Geneva, sans-serif;border-bottom:1px dashed #c6c6c6;  padding:5px 10px;">
                        
    You're receiving this email because you signed up for <a href="{{store url=""}}" style="color:#353673; text-decoration:none">{{var store.getFrontendName()}}</a></td>
	<td style="font-size:9px; color:#7d7d7d; font-family:Verdana, Geneva, sans-serif; border-bottom:1px dashed #c6c6c6; padding:5px 10px;">
	<!--Can't see images? <a href="" style="color:#353673; text-decoration:none">Click Here </a>-->
	</td>
                    </tr> 
               </table>
               </td>
               
               </tr>  
<tr><td bgcolor="#F3F3F3" style="font-size:9px; color:#7d7d7d; font-family:Verdana, Geneva, sans-serif;border-bottom:1px dashed #c6c6c6;  padding:5px 10px;">
To get the {{var store.getFrontendName()}} Newsletter in your inbox add <a href="mailto:service@americanswan.com" style="color:#353673; text-decoration:none;">service@americanswan.com</a> to your address book
</td></tr>		
<tr><td bgcolor="#F3F3F3">
<table>  <tr>
                        <td valign="top" width="300" style="padding:5px 10px;">
                            <a href="{{store url=""}}" style="color:#353673; text-decoration:none;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" style="margin-bottom:10px;" border="0"/></a></td>
                            <td><img src="{{skin url="images/gurantee.png"}}" width="117" height="37"></td>
                            <td><img src="{{skin url="images/money-back.png"}}" width="117" height="37"></td>
                            <td><img src="{{skin url="images/assured_quality.png"}}" width="117" height="37"></td>
                    </tr>
                   
                    </table>
</td>

</tr>	
 <tr>
  <td colspan="4"><img src="{{skin url="images/dotted_line2.png"}}" align="line" width="652" height="5">	</td></tr>	
                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top" style="padding:25px 15px;">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Dear {{htmlescape var=$customer.name}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Welcome aboard to the  {{var store.getFrontendName()}} family! Your subscription has been confirmed. <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Login</a> for discounts, know-how of what's hot and what's not and let our styling tips cast their spell on to you. <br />
Thank you for subscribing to {{var store.getFrontendName()}}'s emails.</p>
                            <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;">
                                Use the following values when prompted to log in:<br/>
                                <strong>E-mail</strong>: {{var customer.email}}<br/>
                                <strong>Password</strong>: {{htmlescape var=$customer.password}}<p>
                            <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">When you log in to your account, you will be able to do the following:</p>
                            <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Proceed through checkout faster when making a purchase</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Check the status of orders</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; View past orders</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Make changes to your account information</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Change your password</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&ndash; Store alternative addresses (for shipping to multiple family members and friends!)</li>
                            </ul>
                            <p style="font-size:12px; line-height:16px; margin:0;">If you have any questions about your account or any other matter, please feel free to contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> or by phone at {{config path='general/store_information/phone'}}.</p>
                        </td>
                    </tr>
                    <!-- footer start -->
                    <tr>
                    <td><img src="{{skin url="images/dotted_line1.png"}}" alt="line" width="652" height="7">
                    </td>
                    </tr>
                    
                    <tr>
                      <td align="center" valign="top" bgcolor="#f3f3f3">
                        <table>
                        <tr><td colspan="4" height="10"></td></tr>
                        <tr>
                          <td valign="top" style="font-size:11px; color:#7d7d7d; line-height:16px; font-family:Verdana, Geneva, sans-serif; width:150px; padding:0 10px; border-right:1px dashed #aaaaaa;">
                          <img src="{{skin url="images/gurantee.png"}}" alt="100% guarantee" width="117" height="37" ><br><br>

                          When you order from our website, we will ensure that the product gets dispatched within 24hrs.
                          
                          </td>
                        <td valign="top" style="font-size:11px; color:#7d7d7d; line-height:16px; font-family:Verdana, Geneva, sans-serif;width:150px; padding:0 10px; border-right:1px dashed #aaaaaa;">
                          <img src="{{skin url="images/money-back.png"}}" width="117" height="37" alt="Money Back"><br><br>

                          AmericanSwan.com's 30 Day <br>

Returns Policy<br>

"No Questions Asked !"

                          
                          </td>
                       <td valign="top" style="font-size:11px; color:#7d7d7d; line-height:16px; font-family:Verdana, Geneva, sans-serif; width:150px;padding:0 10px; border-right:1px dashed #aaaaaa;">

                          <img src="{{skin url="images/cash_delivery.png"}}" width="117" height="37" alt="100% guarantee">


                         <p style="padding-left:20px;">OTHER PAYMENT OPTIONS</span><br><br>
 
                         <img src="{{skin url="images/card.png"}}" width="82" height="29" alt="card"></p></td>
                        <td valign="top" style="font-size:11px; color:#7d7d7d; line-height:16px;font-family:Verdana, Geneva, sans-serif; width:150px;padding:0 10px; margin:0 0 10px 0;">
                          <img src="{{skin url="images/assured_quality.png"}}" width="117" height="37" alt="100% guarantee"><br><br>


                          When you order from our website, we will ensure that the product gets dispatched within 24hrs.
                          
                          </td>
                        </tr>
                          <tr><td colspan="4" height="10"></td></tr>
                        </table>
                        <table width="100%" style="border-top:2px solid #343e7a; border-bottom:1px dashed #c6c6c6; padding:0 10px; color:#7d7d7d; font-size:12px;"><tr>
                          <td valign="middle"><img src="{{skin url="images/toll_free.png"}}" alt="tollfree" width="61" height="50" align="absmiddle">&nbsp;CALL US FOR FREE <strong style="color:3c3c3c;"> 1800-313-1000</strong></td>
                          <td align="right" valign="middle">FOLLOW US: <a href="https://www.facebook.com/AmericanSwan"><img src="{{skin url="images/facebook.png"}}" alt="facebook" width="25" height="24" align="absmiddle" style="border:none" ></a>&nbsp;<a href="https://twitter.com/AmericanSwan"><img src="{{skin url="images/twitter.png"}}" alt="twitter" width="25" height="24" align="absmiddle"  style="border:none" ></a></td>
                    </tr>
                    
                    </table>
                    <table width="100%">
                        <tr><td width="50%" valign="top" style="font-size:10px; color:#7d7d7d; line-height:16px;font-family:Verdana, Geneva, sans-serif; padding: 10px;">
                        
                        We would like to hear from you. For any questions, suggestions or comments please contact us at:
Phone: 1800-313-1000 (Available 7 Days a week) Email: <a href="mailto:care@americanswan.com" style="color:#353673; text-decoration:none;">care@americanswan.com</a></td>
<td width="50%" valign="top" style="font-size:10px; color:#7d7d7d; line-height:16px;font-family:Verdana, Geneva, sans-serif; padding:10px;">
                        
                       <span style="color:#333">We are located at:</span><br>

The American Swan Lifestyle Company Pvt. Ltd., 708, 7th Floor, Iris Tech Park, Sohna Road, Gurgoan, Haryana - 122016
 </td></tr>
                    </table>
                   
                 <table width="100%">
                        <tr>
                          <td style="font-size:10px; color:#7d7d7d; line-height:16px;font-family:Verdana, Geneva, sans-serif; padding:10px;">
                        
                       <span style="color:#333">Terms and Conditions</span><br>

Please read the following terms and conditions very carefully as your use of service is subject to your acceptance of and compliance with the following terms and conditions ("Terms"). 
By subscribing to or using any of our services you agree that you have read, understood and are bound by the Terms, regardless of how you subscribe to or use the services. If you do not want to be bound by the Terms, you must not subscribe to or use our services.                                                             <span style="float:right"><a href="#" style="color:#353673; text-decoration:none; text-align:right;">Read More</a></span></td></tr>
                    </table>
                         <table width="100%" style="border-bottom: 1px dashed #C6C6C6;">
                        <tr>
                          <td style="font-size:10px; color:#7d7d7d; line-height:16px;font-family:Verdana, Geneva, sans-serif; padding:10px;">
                        
                  <span style="color:#333"> Privacy Policy </span><br>

We are AmericanSwan.com, a service provided by The American Swan Lifestyle Company Pvt. Ltd. from, Gurgaon, Haryana, India - 122018. In this Privacy Policy, references to "you" mean any person submitting any data to us or our agent or the Site. 
If you have any comments or suggestions, we would be pleased to receive them at our Gurgaon address or by emailing us at service@americanswan.com . Data protection is a matter of trust and your privacy is important to us. We shall therefore only use your name and other information which relates to you in the manner set out in this Privacy Policy.                                                                                                                                            
<span style="float:right"><a href="{{store url="privacy-policy"}}" style="color:#353673; text-decoration:none;">Read More</a></span></td></tr>
                    </table>
                    <table width="100%">
                        <tr>
                          <td align="center" style="font-size:10px; color:#7d7d7d; line-height:16px;font-family:Verdana, Geneva, sans-serif; padding:10px;">
                      &nbsp;</td></tr>
                    </table>
                     </td>
                    </tr>
                
                  
</table>
                    </td>
                    </tr>
                
                  
                </table>
            </td>
        </tr>
    </table>
</div>
</body>