<?xml version="1.0"?>
<config>
    <modules>
        <Thirty4_CatalogNew>
            <version>0.3.0</version>
        </Thirty4_CatalogNew>
    </modules>
    <global>
      <helpers>
        <catalognew>
          <class>Thirty4_CatalogNew_Helper</class>
        </catalognew>
      </helpers>
      <blocks>
        <catalognew>
          <class>Thirty4_CatalogNew_Block</class>
        </catalognew>
      </blocks>
      <models>
        <catalognew>
          <class>Thirty4_CatalogNew_Model</class>
        </catalognew>
      </models>
    </global>
    <frontend>
      <layout>
        <updates>
          <catalognew>
            <file>catalognew.xml</file>
          </catalognew>
        </updates>
      </layout>
      <routers>
        <catalognew>
          <use>standard</use>
          <args>
            <module>Thirty4_CatalogNew</module>
            <frontName>catalognew</frontName>
          </args>
        </catalognew>
      </routers>
    </frontend>
</config>