<?xml version="1.0"?>
<config>
    <modules>
        <Payu_PayuCheckout>
            <version>0.1.0</version>
        </Payu_PayuCheckout>
    </modules>
    <global>
        <models>
            <payucheckout>
                <class>Payu_PayuCheckout_Model</class>
                <resourceModel>payucheckout_mysql4</resourceModel>
            </payucheckout>
            <payucheckout_mysql4>
                <class>Payu_PayuCheckout_Model_Mysql4</class>
                <entities>
                    <api_debug><table>payucheckout_api_debug</table></api_debug>
                </entities>
            </payucheckout_mysql4>
        </models>
        <helpers>
            <payucheckout>
                <class>Payu_PayuCheckout_Helper</class>
            </payucheckout>
	</helpers>
        <resources>
            <payucheckout_setup>
                <setup>
                    <module>Payu_PayuCheckout</module>
                    <class>Payu_PayuCheckout_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </payucheckout_setup>
            <payucheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </payucheckout_write>
            <payucheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </payucheckout_read>
        </resources>
        <blocks>
            <payucheckout><class>Payu_PayuCheckout_Block</class></payucheckout>
        </blocks>
    </global>
    <frontend>
        <secure_url>
            <payucheckout_shared>/payucheckout/shared</payucheckout_shared>
        </secure_url>
        <routers>
            <payucheckout>
                <use>standard</use>
                <args>
                    <module>Payu_PayuCheckout</module>
                    <frontName>payucheckout</frontName>
                </args>
            </payucheckout>
        </routers>
        <translate>
            <modules>
                <Payu_PayuCheckout>
                    <files>
                        <default>Payu_PayuCheckout.csv</default>
                    </files>
                </Payu_PayuCheckout>
            </modules>
        </translate>
        <layout>
            <updates>
                <payucheckout>
                    <file>payucheckout.xml</file>
                </payucheckout>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Payu_PayuCheckout>
                    <files>
                        <default>Payu_PayuCheckout.csv</default>
                    </files>
                </Payu_PayuCheckout>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <payucheckout_shared>
                <customer_id backend_model="adminhtml/system_config_backend_encrypted"/>
                <currency>USD</currency>
                <model>payucheckout/shared</model>
                <title>Payu Checkout</title>
                <secret_word>PUT SECRET WORD HERE</secret_word>
                <check_hash>1</check_hash>
                <direct_return>redirect</direct_return>
                <demo_mode></demo_mode>
                <skip_landing>0</skip_landing>
                <order_status>processing</order_status>
                <fraud_wait>holded</fraud_wait>
                <fraud_passed>pending</fraud_passed>
                <fraud_failed>canceled</fraud_failed>
                <invoice_pending></invoice_pending>
                <invoice_deposited></invoice_deposited>
                <invoice_declined>canceled</invoice_declined>
                <refund_issued>canceled</refund_issued>
                <allowspecific>0</allowspecific>
            </payucheckout_shared>
        </payment>
    </default>
</config>
