<?xml version="1.0"?>
<config>
    <modules>
        <Magestore_Departmentimages>
            <version>1.0.4</version>
        </Magestore_Departmentimages>
    </modules>
    <frontend>
        <routers>
            <departmentimages>
                <use>standard</use>
                <args>
                    <module>Magestore_Departmentimages</module>
                    <frontName>departmentimages</frontName>
                </args>
            </departmentimages>
        </routers>
        <layout>
            <updates>
                <departmentimages>
                    <file>departmentimages.xml</file>
                </departmentimages>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<departmentimages>
				<use>admin</use>
				<args>
					<module>Magestore_Departmentimages</module>
					<frontName>departmentimages</frontName>
				</args>
			</departmentimages>
        </routers>
    </admin>
    <adminhtml>
		
		<layout>
			<updates>
				<departmentimages>
					<file>departmentimages.xml</file>
				</departmentimages>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <departmentimages>
                <class>Magestore_Departmentimages_Model</class>
                <resourceModel>departmentimages_mysql4</resourceModel>
            </departmentimages>
            <departmentimages_mysql4>
                <class>Magestore_Departmentimages_Model_Mysql4</class>
                <entities>
                    <departmentimages>
                        <table>departmentimages</table>
                    </departmentimages>
                </entities>
            </departmentimages_mysql4>
        </models>
        <resources>
            <departmentimages_setup>
                <setup>
                    <module>Magestore_Departmentimages</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </departmentimages_setup>
            <departmentimages_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </departmentimages_write>
            <departmentimages_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </departmentimages_read>
        </resources>
        <blocks>
            <departmentimages>
                <class>Magestore_Departmentimages_Block</class>
            </departmentimages>
        </blocks>
        <helpers>
            <departmentimages>
                <class>Magestore_Departmentimages_Helper</class>
            </departmentimages>
        </helpers>
    </global>
		<default>
			<departmentimages>
				<settings>
					<time_delay>6</time_delay>
					<show_description>1</show_description>
					<list_style>1</list_style>
					<image_width>691</image_width>
					<image_height>265</image_height>
				</settings>
			</departmentimages>
		</default>
</config>