<?xml version="1.0"?>
<config>
    <modules>
        <FCM_Categorycode>
            <version>0.3.0</version>
        </FCM_Categorycode>
    </modules>
    <frontend>
        <routers>
            <categorycode>
                <use>standard</use>
                <args>
                    <module>FCM_Categorycode</module>
                    <frontName>categorycode</frontName>
                </args>
            </categorycode>
        </routers>
        <layout>
            <updates>
                <categorycode>
                    <file>categorycode.xml</file>
                </categorycode>
            </updates>
        </layout>
        <events>
		<!--
            <catalog_category_collection_load_after>
                <observers>
                    <categorycode>
                        <type>singleton</type>
                        <class>categorycode/observer</class>
                        <method>catalogCategoryCollectionLoadAfter</method>
                    </categorycode>
                </observers>
            </catalog_category_collection_load_after>
			-->
			<controller_action_layout_load_before>
                <observers>
                    <categorycode>
                        <class>categorycode/observer</class>
                        <method>categoryLoadAfter</method>
                    </categorycode>
                </observers>				
			</controller_action_layout_load_before>			
        </events>
		<category>
            <collection>
                <attributes>
                    <name/>
                    <url_key/>
                    <is_active/>
					<thumbnail/>
                </attributes>
            </collection>
        </category>
    </frontend>
    <global>
        <models>
            <categorycode>
                <class>FCM_Categorycode_Model</class>
                <resourceModel>categorycode_mysql4</resourceModel>
            </categorycode>
            <categorycode_mysql4>
                <class>FCM_Categorycode_Model_Mysql4</class>
                <entities>
                    <categorycode>
                        <table>categorycode</table>
                    </categorycode>
                </entities>
            </categorycode_mysql4>
			<!--
			<catalog_resource>
				<rewrite>
					<category_flat>FCM_Categorycode_Model_Hidecategories</category_flat>
				</rewrite>
			</catalog_resource>
			-->
        </models>
        <resources>
            <categorycode_setup>
                <setup>
                    <module>FCM_Categorycode</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </categorycode_setup>
            <categorycode_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </categorycode_write>
            <categorycode_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </categorycode_read>
        </resources>
        <blocks>
            <categorycode>
                <class>FCM_Categorycode_Block</class>
            </categorycode>
        </blocks>
        <helpers>
            <categorycode>
                <class>FCM_Categorycode_Helper</class>
            </categorycode>
        </helpers>
    </global>
</config>