<?xml version="1.0"?>
<config>
    <modules>
        <AdjustWare_Nav>
            <version>10.4.9</version>
        </AdjustWare_Nav>
    </modules>
    <adminhtml>
        <translate>
            <modules>
                <AdjustWare_Nav>
                    <files>
                        <default>AdjustWare_Nav.csv</default>
                    </files>
                </AdjustWare_Nav>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <adjnav>
                <use>standard</use>
                <args>
                    <module>AdjustWare_Nav</module>
                    <frontName>adjnav</frontName>
                </args>
            </adjnav>
        </routers>
        <translate>
            <modules>
                <AdjustWare_Nav>
                    <files>
                        <default>AdjustWare_Nav.csv</default>
                    </files>
                </AdjustWare_Nav>
            </modules>
        </translate>
        <layout>
            <updates>
                <adjnav>
                    <file>adjnav.xml</file>
                </adjnav>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <adjnav>
                <class>AdjustWare_Nav_Model</class>
                <resourceModel>adjnav_mysql4</resourceModel>
            </adjnav>
            <adjnav_mysql4>
                <class>AdjustWare_Nav_Model_Mysql4</class>
                <entities>
                    <catalog_product_index_configurable>
                        <table>adjnav_catalog_product_index_configurable</table>
                    </catalog_product_index_configurable>
                    <eav_attribute_stat>
                        <table>adjnav_eav_attribute_stat</table>
                    </eav_attribute_stat>
                    <cron>
                        <table>adjnav_cron</table>
                    </cron>
                    <eav_attribute_option_stat>
                        <table>adjnav_eav_attribute_option_stat</table>
                    </eav_attribute_option_stat>
                    <eav_attribute_option_hit>
                        <table>adjnav_eav_attribute_option_hit</table>
                    </eav_attribute_option_hit>
                </entities>
            </adjnav_mysql4>
            <catalogindex_mysql4>
                <rewrite>
                    <attribute>AdjustWare_Nav_Model_Rewrite_CatalogIndexMysql4Attribute</attribute>
                </rewrite>
            </catalogindex_mysql4>
            <catalog_resource_eav_mysql4>
                <rewrite>
                    <product_indexer_eav>AdjustWare_Nav_Model_Rewrite_CatalogResourceEavMysql4ProductIndexerEav</product_indexer_eav>
                    <product_indexer_eav_source>AdjustWare_Nav_Model_Rewrite_CatalogResourceEavMysql4ProductIndexerEavSource</product_indexer_eav_source>
                </rewrite>
            </catalog_resource_eav_mysql4>
        </models>
        <blocks>
            <adjnav>
                <class>AdjustWare_Nav_Block</class>
            </adjnav>
            <catalog>
                <rewrite>
                    <category_view>AdjustWare_Nav_Block_Rewrite_FrontCatalogCategoryView</category_view>
                </rewrite>
            </catalog>
            <catalog>
                <rewrite>
                    <layer_view>AdjustWare_Nav_Block_Rewrite_FrontCatalogLayerView</layer_view>
                </rewrite>
            </catalog>
            <catalog>
                <rewrite>
                    <product_list>AdjustWare_Nav_Block_Rewrite_FrontCatalogProductList</product_list>
                </rewrite>
            </catalog>
            <catalog>
                <rewrite>
                    <product_list_toolbar>AdjustWare_Nav_Block_Rewrite_FrontCatalogProductListToolbar</product_list_toolbar>
                </rewrite>
            </catalog>
            <catalog>
                <rewrite>
                    <breadcrumbs>AdjustWare_Nav_Block_Rewrite_FrontCatalogBreadcrumbs</breadcrumbs>
                </rewrite>
            </catalog>
            <catalogsearch>
                <rewrite>
                    <result>AdjustWare_Nav_Block_Rewrite_FrontCatalogsearchResult</result>
                </rewrite>
            </catalogsearch>
            <search>
                <rewrite>
                    <catalog_layer_view>AdjustWare_Nav_Block_Rewrite_EnterpriseSearchCatalogLayerView</catalog_layer_view>
                    <catalogsearch_layer>AdjustWare_Nav_Block_Rewrite_EnterpriseSearchCatalogsearchLayer</catalogsearch_layer>
                </rewrite>
            </search>
        </blocks>
        <helpers>
            <adjnav>
                <class>AdjustWare_Nav_Helper</class>
            </adjnav>
        </helpers>
        <resources>
            <adjnav_setup>
                <setup>
                    <module>AdjustWare_Nav</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </adjnav_setup>
            <adjnav_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </adjnav_write>
            <adjnav_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </adjnav_read>
        </resources>
        <events>
            <catalog_product_collection_load_before>
                <observers>
                    <adjnav>
                        <type>singleton</type>
                        <class>adjnav/observer</class>
                        <method>onCatalogProductCollectionLoadBefore</method>
                    </adjnav>
                </observers>
            </catalog_product_collection_load_before>
            <aitmanufacturers_render_adjnav>
                <observers>
                    <adjnav>
                        <type>singleton</type>
                        <class>adjnav/observer</class>
                        <method>onAitmanufacturersRenderAdjnav</method>
                    </adjnav>
                </observers>
            </aitmanufacturers_render_adjnav>
            <aitsys_block_abstract_to_html_after>
                <observers>
                    <adjnav>
                        <type>singleton</type>
                        <class>adjnav/observer</class>
                        <method>onCoreBlockAbstractToHtmlAfter</method>
                    </adjnav>
                </observers>
            </aitsys_block_abstract_to_html_after>
            <controller_front_init_routers>
                <observers>
                    <adjnav>
                        <type>model</type>
                        <class>adjnav/order_observer</class>
                        <method>onControllerFrontInitRouters</method>
                    </adjnav>
                </observers>
            </controller_front_init_routers>
            <core_locale_set_locale>
                <observers>
                    <adjnav>
                        <type>model</type>
                        <class>adjnav/quote_observer</class>
                        <method>onCoreLocaleSetLocale</method>
                    </adjnav>
                </observers>
            </core_locale_set_locale>
        </events>
        <index>
            <indexer>
                <catalog_product_configurable>
                    <model>adjnav/catalog_product_indexer_configurable</model>
                </catalog_product_configurable>
                <catalog_product_attribute>
                    <depends>
                        <catalog_product_configurable/>
                    </depends>
                </catalog_product_attribute>
            </indexer>
        </index>
    </global>
    <crontab>
        <jobs>
            <collect_attribute_stats>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>adjnav/observer::collectAttributeStats</model>
                </run>
            </collect_attribute_stats>
        </jobs>
    </crontab>
    <default>
        <design>
            <adjnav>
                <cat_style>breadcrumbs</cat_style>
                <price_style>default</price_style>
                <remove_links>0</remove_links>
                <reset_filters>1</reset_filters>
                <rel_prev_next>0</rel_prev_next>
            </adjnav>
            <adjnav_featured>
                <use_ranges_attr>0</use_ranges_attr>
                <use_ranges_val>0</use_ranges_val>
                <featured_attrs_limit>5</featured_attrs_limit>
                <featured_vals_limit>5</featured_vals_limit>
                <collect_period>24</collect_period>
            </adjnav_featured>
            <adjnav_endless_page>
                <enable_page_autoload>0</enable_page_autoload>
                <products_on_list_page>6</products_on_list_page>
                <products_on_grid_page>12</products_on_grid_page>
            </adjnav_endless_page>
        </design>
    </default>
</config>
<!--
/**
 * Product:     Layered Navigation Pro for Enterprise Edition - 16/08/12
 * Package:     AdjustWare_Nav_10.4.9_10.0.0_557110
 * Purchase ID: hXgQU3oI8FOfJ8PDCk5s6h6XPM5oH2Kx0N6TCAPkqN
 * Generated:   2013-04-22 06:59:44
 * File path:   app/code/local/AdjustWare/Nav/etc/config.xml
 * Copyright:   (c) 2013 AITOC, Inc.
 */
-->
