<?xml version="1.0"?>
<config>
    <modules>
        <Custom_Myorder>
			<version>0.1.0</version>
        </Custom_Myorder>
    </modules>
	<frontend>
        <routers>
            <myorder>
                <use>standard</use>
                <args>
                    <module>Custom_Myorder</module>
                    <frontName>myorder</frontName>
                </args>
            </myorder>
        </routers>
	</frontend>
	<global>
        <resources>
            <myorder_setup>
                <setup>
                    <module>Custom_Myorder</module>
					<class>Custom_Myorder_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </myorder_setup>
            <myorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </myorder_write>
            <myorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </myorder_read>
        </resources>
		<events>
			<sales_order_place_before>
				<observers>
					<adding_product_mrp_order>
						<type>singleton</type>
						<class>Custom_Myorder_Model_Observer</class>
						<method>saveProductMrpInOrder</method>
					</adding_product_mrp_order>
				</observers>
			</sales_order_place_before>
			<sales_order_invoice_save_before>
				<observers>
					<adding_product_mrp_invoice>
						<type>singleton</type>
						<class>Custom_Myorder_Model_Observer</class>
						<method>saveProductMrpInInvoice</method>
					</adding_product_mrp_invoice>
				</observers>
			</sales_order_invoice_save_before>
			<!--<sales_order_shipment_save_before>
				<observers>
					<adding_product_mrp_shipment>
						<type>singleton</type>
						<class>Custom_Myorder_Model_Observer</class>
						<method>saveProductMrpInShipment</method>
					</adding_product_mrp_shipment>
				</observers>
			</sales_order_shipment_save_before>-->
			<sales_order_creditmemo_save_before>
				<observers>
					<adding_product_mrp_creditmemo>
						<type>singleton</type>
						<class>Custom_Myorder_Model_Observer</class>
						<method>saveProductMrpInCreditMemo</method>
					</adding_product_mrp_creditmemo>
				</observers>			
			</sales_order_creditmemo_save_before>
		</events>
        <fieldsets>
			<sales_convert_order_item>
				<product_mrp>
					<to_invoice_item>*</to_invoice_item>
                    <to_shipment_item>*</to_shipment_item>
					<to_cm_item>*</to_cm_item>
				</product_mrp>
			</sales_convert_order_item>
		</fieldsets>
	</global>
</config>