<?xml version="1.0"?>
<config>
    <modules>
        <Custom_Banners>
            <version>0.2.0</version>
        </Custom_Banners>
    </modules>
     <!-- <frontend>
        <routers>
            <banners>
                <use>standard</use>
                <args>
                    <module>Custom_Banners</module>
                    <frontName>banners</frontName>
                </args>
            </banners>
        </routers>
        <layout>
            <updates>
                <banners>
                    <file>banners.xml</file>
                </banners>
            </updates>
        </layout>
    </frontend>    -->
    <global>
        <blocks>
            <banners>
                <class>Custom_Banners_Block</class>
            </banners>
        </blocks>
        <helpers>
            <banners>
                <class>Custom_Banners_Helper</class>
            </banners>  
        </helpers>
        <models>
            <banners>
                <class>Custom_Banners_Model</class>
                <resourceModel>banners_mysql4</resourceModel>
            </banners>
            <banners_mysql4>
                <class>Custom_Banners_Model_Mysql4</class>
                <entities>
                    <banners>
                        <table>banners</table>
                    </banners>
                </entities>
            </banners_mysql4>
		</models>

        <resources>
            <banners_setup>
                <setup>
                    <module>Custom_Banners</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </banners_setup>
            <banners_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </banners_read>
            <banners_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </banners_write>
        </resources>
    </global>
    <admin>
        <routers>
            <banners>
                <use>admin</use>
                <args>
                    <module>Custom_Banners</module>
                    <frontName>banners</frontName>
                </args>
            </banners>
        </routers>
    </admin>
    
    <adminhtml>
        <translate>
            <modules>
                <custom_adminhtml>
                    <files>
                        <sintax>Mage_Sintax.csv</sintax>
                    </files>
                </custom_adminhtml>
            </modules>
        </translate>
        <menu>
            <catalog>
                <children>
                    <banners_adminform translate="title" module="banners">
                        <title>Manage Banners</title>
                        <action>banners/adminhtml_banners</action>
                    </banners_adminform>
                </children>
            </catalog>
        </menu>
                       
        <acl>
            <resources>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <banners_adminform>
                                    <title>Manage Banners</title>
                                </banners_adminform>
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <banners>
                    <file>banners.xml</file>
                </banners>
            </updates>
        </layout>
    </adminhtml>
</config>
