<?xml version="1.0"?>
<config>
    <modules>
        <Payu_PayuMoney>
            <version>0.1.0</version>
        </Payu_PayuMoney>
    </modules>
    <global>
        <models>
            <payumoney>
                <class>Payu_PayuMoney_Model</class>
                <resourceModel>payumoney_mysql4</resourceModel>
            </payumoney>
            <payumoney_mysql4>
                <class>Payu_PayuMoney_Model_Mysql4</class>
                <entities>
                    <api_debug><table>payumoney_api_debug</table></api_debug>
                </entities>
            </payumoney_mysql4>
        </models>
        <helpers>
            <payumoney>
                <class>Payu_PayuMoney_Helper</class>
            </payumoney>
	</helpers>
        <resources>
            <payumoney_setup>
                <setup>
                    <module>Payu_PayuMoney</module>
                    <class>Payu_PayuMoney_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </payumoney_setup>
            <payumoney_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </payumoney_write>
            <payumoney_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </payumoney_read>
        </resources>
        <blocks>
            <payumoney><class>Payu_PayuMoney_Block</class></payumoney>
        </blocks>
    </global>
    <frontend>
        <secure_url>
            <payumoney_shared>/payumoney/shared</payumoney_shared>
        </secure_url>
        <routers>
            <payumoney>
                <use>standard</use>
                <args>
                    <module>Payu_PayuMoney</module>
                    <frontName>payumoney</frontName>
                </args>
            </payumoney>
        </routers>
        <translate>
            <modules>
                <Payu_PayuMoney>
                    <files>
                        <default>Payu_PayuMoney.csv</default>
                    </files>
                </Payu_PayuMoney>
            </modules>
        </translate>
        <layout>
            <updates>
                <payumoney>
                    <file>payumoney.xml</file>
                </payumoney>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Payu_PayuMoney>
                    <files>
                        <default>Payu_PayuMoney.csv</default>
                    </files>
                </Payu_PayuMoney>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <payumoney_shared>
                <customer_id backend_model="adminhtml/system_config_backend_encrypted"/>
                <currency>USD</currency>
                <model>payumoney/shared</model>
                <title>Payu Money</title>
                <secret_word>PUT SECRET WORD HERE</secret_word>
                <check_hash>1</check_hash>
                <direct_return>redirect</direct_return>
                <demo_mode></demo_mode>
                <skip_landing>0</skip_landing>
                <order_status>processing</order_status>
                <fraud_wait>holded</fraud_wait>
                <fraud_passed>pending</fraud_passed>
                <fraud_failed>canceled</fraud_failed>
                <invoice_pending></invoice_pending>
                <invoice_deposited></invoice_deposited>
                <invoice_declined>canceled</invoice_declined>
                <refund_issued>canceled</refund_issued>
                <allowspecific>0</allowspecific>
            </payumoney_shared>
        </payment>
    </default>
</config>
