<?xml version="1.0"?>
<config>
    <modules>
        <FCM_Itemmaster>
            <version>0.1.0</version>
        </FCM_Itemmaster>
    </modules>
    <frontend>
        <routers>
            <itemmaster>
                <use>standard</use>
                <args>
                    <module>FCM_Itemmaster</module>
                    <frontName>itemmaster</frontName>
                </args>
            </itemmaster>
        </routers>
        <layout>
            <updates>
                <itemmaster>
                    <file>itemmaster.xml</file>
                </itemmaster>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<itemmaster>
				<use>admin</use>
				<args>
					<module>FCM_Itemmaster</module>
					<frontName>itemmaster</frontName>
				</args>
			</itemmaster>
        </routers>
    </admin>
    <adminhtml>
		<!--menu>
			<itemmaster module="itemmaster">
				<title>Itemmaster</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="itemmaster">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>itemmaster/adminhtml_itemmaster</action>
					</items>
				</children>
			</itemmaster>
		</menu-->
		<!--acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<FCM_Itemmaster>
							<title>Itemmaster Module</title>
							<sort_order>10</sort_order>
						</FCM_Itemmaster>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<itemmaster>
					<file>itemmaster.xml</file>
				</itemmaster>
			</updates>
		</layout-->
		<acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <itemmaster>
                                            <title>Report Import Module Section</title>
                                        </itemmaster>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>		
    </adminhtml>  
	<default>
		<itemmaster>
			<directories>
				<csv_directory>output/working/</csv_directory>
			</directories>
			<ftp>
				<ftp_host>ftp.lecom.in</ftp_host>
				<ftp_username></ftp_username>
				<ftp_password></ftp_password>
				<ftp_directory>/Retail/Retail_online/Dev/POS/IN/Transfer</ftp_directory>
			</ftp>
		</itemmaster>
	</default>	
    <global>
        <models>
            <itemmaster>
                <class>FCM_Itemmaster_Model</class>
                <resourceModel>itemmaster_mysql4</resourceModel>
            </itemmaster>
            <itemmaster_mysql4>
                <class>FCM_Itemmaster_Model_Mysql4</class>
                <entities>
                    <itemmaster>
                        <table>itemmaster</table>
                    </itemmaster>
                </entities>
            </itemmaster_mysql4>
        </models>
        <resources>
            <itemmaster_setup>
                <setup>
                    <module>FCM_Itemmaster</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </itemmaster_setup>
            <itemmaster_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </itemmaster_write>
            <itemmaster_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </itemmaster_read>
        </resources>
        <blocks>
            <itemmaster>
                <class>FCM_Itemmaster_Block</class>
            </itemmaster>
        </blocks>
        <helpers>
            <itemmaster>
                <class>FCM_Itemmaster_Helper</class>
            </itemmaster>
        </helpers>
    </global>
	<default>
		<itemmaster>
			<directories>
				<custom_csv_directory_inbound>/home/lecomotf/inbound/itemmaster/</custom_csv_directory_inbound>
				<custom_csv_directory>var/import/lecom/inbound/itemmaster/</custom_csv_directory>	
				<custom_csv_archive_directory>var/import/lecom/inbound/itemmaster_arcv/</custom_csv_archive_directory>	
				<custom_csv_failure_directory>var/import/lecom/inbound/itemmaster_failure/</custom_csv_failure_directory>		
			</directories>
			<!--itemmasterprofileid>
				<itemmasterprofileid_value>7</itemmasterprofileid_value>											
			</itemmasterprofileid-->
			<notificationemail>
				<notification_email_subject>Product import error!!!</notification_email_subject>
				<notification_email>ajesh.prakash@hcl.com</notification_email>
				<notification_ccemail>ajesh.prakash@hcl.com</notification_ccemail>															
			</notificationemail>
		</itemmaster>
	</default>
</config>