<?xml version="1.0"?>
<config>
  <modules>
    <AmericanSwan_Rajneesh>
      <version>0.1.0</version>
    </AmericanSwan_Rajneesh>
  </modules>
  <global>
    <helpers>
      <rajneesh>
        <class>AmericanSwan_Rajneesh_Helper</class>
      </rajneesh>
    </helpers>
	<models>
	  <rajneesh>
		<class>AmericanSwan_Rajneesh_Model</class>
		<resourceModel>rajneesh_mysql4</resourceModel>
	  </rajneesh>
	</models>
	<resources>
	  <customerattribute1416312273_setup>
		<setup>
		  <module>AmericanSwan_Rajneesh</module>
		  <class>Mage_Customer_Model_Entity_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </customerattribute1416312273_setup>
	  <customerattribute1416312273_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </customerattribute1416312273_write>
	  <customerattribute1416312273_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </customerattribute1416312273_read>
	</resources>
  </global>
</config> 