#MB_overlay {
	position:absolute;
	margin:auto;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:10010;
	background:rgba(20,42,86,.5)!important;
}
#MB_overlay[id] {
	position:fixed
}
#MB_window {
	position:absolute;
	top:0;
	border:0 solid;
	text-align:left;
	z-index:10020;
}
#MB_window[id] {
	position:fixed!important
}
#MB_frame {
	position:relative;
	background:#fff;
	height:100%
}
#MB_header {
	margin:0;
	padding:0
}
#MB_content {
	padding:0 .75em;
	overflow:auto;
	position:relative;
	overflow-y:hidden!important
}
#MB_caption {
	font-size:100%;
font-weight:bold;
	text-shadow:#FFF 0 1px 0;
	padding:.5em 2em .5em .75em;
	margin:0;
	text-align:left
}
#MB_close {
	display:block;
	position:absolute;
	right:5px;
	top:0;
	padding:2px 3px;
	font-weight:700;
	text-decoration:none;
	font-size:15px;
	background:transparent url(../images-v3/cross-icon.jpg) 50% 0 no-repeat
}
#MB_loading {
	padding:1.5em;
	text-indent:-10000px;
	background:transparent url(../images-v3/adj-nav-progress-v1.gif) 50% 0 no-repeat
}
#MB_frame {
	padding-bottom:7px;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px
}
#MB_window {
	background-color:#EFEFEF;
	color:#000;
	-webkit-box-shadow:0 8px 64px #000;
	-moz-box-shadow:0 0 64px #000;
	box-shadow:0 0 64px #000;
	-webkit-border-radius:7px;
	-moz-border-radius:7px;
	border-radius:7px;
	margin-top:50px
}
#MB_caption {
	color:#fff
}
