<?xml version="1.0"?>
<config>
    <modules>
        <Aitoc_Aitindividpromo>
            <version>10.0.8</version>
        </Aitoc_Aitindividpromo>
    </modules>
    <admin>
        <routers>
            <aitindividpromo>
                <use>admin</use>
                <args>
                    <module>Aitoc_Aitindividpromo</module>
                    <frontName>aitindividpromo</frontName>
                </args>
            </aitindividpromo>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Aitoc_Aitindividpromo>
                    <files>
                        <default>Aitoc_Aitindividpromo.csv</default>
                    </files>
                </Aitoc_Aitindividpromo>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers/>
        <events/>
        <translate>
            <modules>
                <Aitoc_Aitindividpromo>
                    <files>
                        <default>Aitoc_Aitindividpromo.csv</default>
                    </files>
                </Aitoc_Aitindividpromo>
            </modules>
        </translate>
        <layout/>
    </frontend>
    <default>
        <config_vars/>
    </default>
    <global>
        <models>
            <aitindividpromo>
                <class>Aitoc_Aitindividpromo_Model</class>
                <resourceModel>aitindividpromo_mysql4</resourceModel>
            </aitindividpromo>
            <aitindividpromo_mysql4>
                <class>Aitoc_Aitindividpromo_Model_Mysql4</class>
                <entities>
                    <individ>
                        <table>aitoc_salesrule_assign_cutomer</table>
                    </individ>
                </entities>
            </aitindividpromo_mysql4>
            <salesrule>
                <rewrite>
                    <validator>Aitoc_Aitindividpromo_Model_Rewrite_FrontSalesRuleValidator</validator>
                </rewrite>
                <rewrite>
                    <rule>Aitoc_Aitindividpromo_Model_Rewrite_FrontSalesRuleRule</rule>
                </rewrite>
            </salesrule>
            <salesrule_resource>
                <rewrite>
                    <rule_collection>Aitoc_Aitindividpromo_Model_Rewrite_SalesRuleResourceRuleCollection</rule_collection>
                </rewrite>
            </salesrule_resource>
            <salesrule_mysql4>
                <rewrite>
                    <rule_collection>Aitoc_Aitindividpromo_Model_Rewrite_SalesRuleMysql4RuleCollection</rule_collection>
                </rewrite>
            </salesrule_mysql4>
        </models>
        <resources>
            <aitindividpromo_setup>
                <setup>
                    <module>Aitoc_Aitindividpromo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </aitindividpromo_setup>
            <aitindividpromo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aitindividpromo_write>
            <aitindividpromo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aitindividpromo_read>
        </resources>
        <blocks>
            <aitindividpromo>
                <class>Aitoc_Aitindividpromo_Block</class>
            </aitindividpromo>
            <adminhtml>
                <rewrite>
                    <promo_quote_edit_tab_main>Aitoc_Aitindividpromo_Block_Rewrite_AdminhtmlPromoQuoteEditTabMain</promo_quote_edit_tab_main>
                    <promo_quote_grid>Aitoc_Aitindividpromo_Block_Rewrite_AdminhtmlPromoQuoteGrid</promo_quote_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <aitindividpromo>
                <class>Aitoc_Aitindividpromo_Helper</class>
            </aitindividpromo>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <aitindividpromo>
                        <type>model</type>
                        <class>aitindividpromo/catalog_observer</class>
                        <method>onControllerFrontInitRouters</method>
                    </aitindividpromo>
                </observers>
            </controller_front_init_routers>
            <core_locale_set_locale>
                <observers>
                    <aitindividpromo>
                        <type>model</type>
                        <class>aitindividpromo/quote_observer</class>
                        <method>onCoreLocaleSetLocale</method>
                    </aitindividpromo>
                </observers>
            </core_locale_set_locale>
        </events>
    </global>
</config>
<!--
/**
 * Product:     Individual Promotions for Magento Enterpise Edition
 * Package:     Aitoc_Aitindividpromo_10.0.7_574525
 * Purchase ID: UjgdLvjpFE0u1HHQEOk2KNCXazbZ9kQjUnTtO4dMb0
 * Generated:   2013-05-13 06:35:45
 * File path:   app/code/local/Aitoc/Aitindividpromo/etc/config.xml
 * Copyright:   (c) 2013 AITOC, Inc.
 */
-->
