<?xml version="1.0"?>
<config>
    <modules>
        <Custom_Common>
            <version>0.1.7</version>
        </Custom_Common>
    </modules>
    <frontend>
        <routers>
            <common>
                <use>standard</use>
                <args>
                    <module>Custom_Common</module>
                    <frontName>common</frontName>
                </args>
            </common>
        </routers>
        <layout>
            <updates>
                <common>
                    <file>common.xml</file>
                </common>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<common>
				<use>admin</use>
				<args>
					<module>Custom_Common</module>
					<frontName>common</frontName>
				</args>
			</common>
        </routers>
    </admin>

    <global>
        <models>
            <common>
                <class>Custom_Common_Model</class>
                <resourceModel>common_mysql4</resourceModel>
            </common>
            <common_mysql4>
                <class>Custom_Common_Model_Mysql4</class>
                <entities>
                    <common>
                        <table>common</table>
                    </common>
                </entities>
            </common_mysql4>
        </models>
        <resources>
            <common_setup>
                <setup>
                    <module>Custom_Common</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </common_setup>
            <common_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </common_write>
            <common_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </common_read>
        </resources>
        <blocks>
            <common>
                <class>Custom_Common_Block</class>
            </common>
        </blocks>
		<helpers>
            <common>
                <class>Custom_Common_Helper</class>
            </common>
        </helpers>
                
        <template>
	        <email>
	            <custom_admin_error_notification module="common">
	                <label>Custom template to send error to admin</label>
	                <file>custom_admin_error_notification.html</file>
	                <type>html</type>
	            </custom_admin_error_notification>
	        </email>
	    </template>

        <events>
          <customer_register_success>
            <observers>
              <custom_common_customer_register_success>
                <type>singleton</type>
                <class>Custom_Common_Model_Observer</class>
                <method>customerRegisterSuccess</method>
              </custom_common_customer_register_success>
            </observers>
          </customer_register_success>
			<controller_action_layout_generate_xml_before>
            <observers>
                <noindex>
                    <type>singleton</type>
                    <class>common/observer</class>
                    <method>changeRobots</method>
                </noindex>
            </observers>
        </controller_action_layout_generate_xml_before>
          <custom_cataloginventory_stock_item_save_after>
            <observers>
                  <custom_common_catalog_product_inventory_save_after>
                    <type>singleton</type>
                    <class>Custom_Common_Model_Observer</class>
                    <method>inventorySaveAfter</method>
                  </custom_common_catalog_product_inventory_save_after>
            </observers>
          </custom_cataloginventory_stock_item_save_after>  

          <catalog_product_save_after>
                <observers>
                  <custom_common_catalog_product_save_after>
                    <type>singleton</type>
                    <class>Custom_Common_Model_Observer</class>
                    <method>productSaveAfter</method>
                  </custom_common_catalog_product_save_after>
            </observers>
            </catalog_product_save_after>
</events>
    </global>
	
	<!--<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <newcustomercoupon>
                                            <title>newcustomercoupon</title>
                                        </newcustomercoupon>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl> 
    </adminhtml>-->
</config>