/* css added for custom message */
.custom_message{   border-top: 1px solid #dfdfdf;
    float: left;
    padding: 30px 15px;
    text-align: center;
    width: 694px;}
	
.custom_message_product {
	margin-top: 30px;
}

.custom_message .cmhead{ font-size:22px; font:26px/24px 'avenir_lt_std_35_lightregular',Verdana, Geneva, sans-serif ;  color: #DD3848;}
.custom_message .subhead { font-size:16px; font:20px/30px 'avenir_lt_std_35_lightregular',Verdana, Geneva, sans-serif;  color: #343E7A; padding:5px 0 10px;}
.custom_message .cmdesc{ font-size:14px; color:#666; font:12px/16px Verdana, Geneva, sans-serif;}



/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	

.custom_message{ width:100% !important;}
.custom_message table{ width:100% !important;}
.custom_message table{ width:100% !important;}
.custom_message table tr td{ width:100% !important;}

	
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {
	
.custom_message{ width:100% !important;}
.custom_message table{ width:100% !important;}
.custom_message table{ width:100% !important;}
.custom_message table tr td{ width:100% !important;}

	
}


/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
	
.custom_message{ width:100% !important;}
.custom_message table{ width:100% !important;}
.custom_message table{ width:100% !important;}
.custom_message table tr td{ width:100% !important;}

	
}


/* Android in Landscape 380 X  690 ----------- */

@media only screen
and (min-width: 481px)
and (max-width: 560px){
	
.custom_message{ width:100% !important;}
.custom_message table{ width:100% !important;}
.custom_message table{ width:100% !important;}
.custom_message table tr td{ width:100% !important;}	
	
}



/* Android in Landscape 560 X  767 ----------- */

@media only screen
and (min-width: 560px)
and (max-width: 767px){
	
.custom_message{ width:100% !important;}
.custom_message table{ width:100% !important;}
.custom_message table{ width:100% !important;}
.custom_message table tr td{ width:100% !important;}

	
}


/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	
.custom_message{ width:100% !important;}
.custom_message table{ width:100% !important;}
.custom_message table{ width:100% !important;}
.custom_message table tr td{ width:100% !important;}
	
}




/* iPads (landscape) ----------- */
@media only screen 
and (min-width : 1024px) {
	
#container{ width:980px;}	
	
}