<?xml version="1.0"?>

<config>
    <modules>
        <ICICI_payseal>
            <version>0.1.0</version>
        </ICICI_payseal>
    </modules>
    <global>
        <models>
            <payseal>
                <class>ICICI_payseal_Model</class>
                <resourceModel>payseal_mysql4</resourceModel>
            </payseal>
            <payseal_mysql4>
                <class>ICICI_payseal_Model_Mysql4</class>
                <entities>
                    <api_debug><table>payseal_api_debug</table></api_debug>
                </entities>
            </payseal_mysql4>
        </models>
		<helpers>
            <payseal>
                <class>ICICI_Payseal_Helper</class>
            </payseal>
        </helpers>
        <resources>
            <payseal_setup>
                <setup>
                    <module>ICICI_payseal</module>
                    <class>ICICI_payseal_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </payseal_setup>
            <payseal_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </payseal_write>
            <payseal_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </payseal_read>
        </resources>
        <blocks>
            <payseal><class>ICICI_payseal_Block</class></payseal>
        </blocks>
    </global>
    <frontend>
        <secure_url>
            <payseal_standard>/payseal/standard</payseal_standard>
        </secure_url>
        <routers>
            <payseal>
                <use>standard</use>
                <args>
                    <module>ICICI_payseal</module>
                    <frontName>Payseal</frontName>
                </args>
            </payseal>
        </routers>
        <layout>
            <updates>
                <payseal>
                    <file>payseal.xml</file>
                </payseal>
            </updates>
        </layout>
    </frontend>
    <default>
        <payment>
            <payseal_standard>
                  <model>payseal/standard</model>
                  <title>payseal Standard</title>
                  <allowspecific>0</allowspecific>
                  <transaction_type>O</transaction_type>
            </payseal_standard>
        </payment>
    </default>
</config>